﻿body {
    font-family: "Open Sans", sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #89cff0;
}

.collapsible {
    display:inline-block;
    background-color: #89cff0;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 18%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

#main {
    transition: margin-left .5s;
}

#nav {
    transition: margin-left .5s;
}

.btn {
    background: #333;
    border: 2px solid;
    border-color: transparent;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    position: relative;
    top: 0;
}

.rounded {
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

.sidebarSubmit {
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
}

.sortHomeIndex {
    display: inline-block;
    float: right;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin-right: 10px;
}

select.sortHomeIndex {
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
}

.tablediv {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.searchHomeIndex {
    width: 100px;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
}

input[type=date]{
    width:80%;
}

select {
    width: 100%;
}


.tableAranzmani table {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-spacing: 0 0.5em;
    
    border: solid black;
}

.priceCol {
    color:red;
}

.tableAranzmani tr{
    font-size: 1.2em;
    border: solid black;
}

.tableAranzmani tr:hover td{
    background-color: #ddd;
}

.tableAranzmani tr td {
    padding: 10px 15px;
}

.tableAranzmani tr td:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tableAranzmani tr td:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
