﻿.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.login {
    border-radius: 2px 2px 5px 5px;
    padding: 10px 20px 20px 20px;
    width: 90%;
    max-width: 320px;
    background: #ffffff;
    position: relative;
    padding-bottom: 40px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

input.login {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 90%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: large;
}

.title {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.titles {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.error-msg {
    color: rgb(255, 0, 0);
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 0 0;
}


button.login {
    width: 86%;
    height: 100%;
    padding: 10px 10px;
    color: white;
    background-color: #89cff0;
    display: block;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    position: absolute;
    left: 0;
    max-height: 50px;
    border: 0px solid rgba(0,0,0,0.1);
    border-radius: 0 0 2px 2px;
    font-size: medium;
}


input[type=submit].login {
    width: 97%;
    height: 100%;
    padding: 15px 10px;
    color: white;
    background-color: #89cff0;
    display: block;
    border: none;
    margin-top: 20px;
    margin-left: 0px;
    left: 0;
    bottom: 0;
    max-height: 50px;
    border: 0px solid rgba(0,0,0,0.1);
    border-radius: 0 0 2px 2px;
}

input[type=submit]:hover {
    background-color: #89b5f0;
}

button:hover {
    background-color: #89b5f0;
}

.paragraflogin {
    font-size: 1em;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

.popup {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 100px auto;   
    color: black;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
    }
