﻿body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.navbarform {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 7;
}

.navbuttons {
    float: left;
    overflow: hidden;
}

.navbuttons .navbutton {
    float: left;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown {
    float: left;
    overflow: visible;
    z-index: 7;
}

.error-msg-smaller {
    color: rgb(255, 0, 0);
    font-size: 0.8em;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    z-index:7;
}

.navbar a:hover, .navbutton:hover {
    background-color: #89cff0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #89cff0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 7;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 7;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 7;
}

.navbuttons-content a:hover {
    background-color: #ddd;
}

.navbuttons:hover .navbuttons-content {
    display: block;
}
