﻿body {
    font-family: "Open Sans", sans-serif;
}

.center {
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 90%;
    padding: 0px;
}