﻿body {
    font-family: "Open Sans", sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #89cff0;
}

.collapsible {
    display: inline-block;
    background-color: #89cff0;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 18%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

#main {
    transition: margin-left .5s;
}

#nav {
    transition: margin-left .5s;
}

.sidebar input[type=number]{
    width: 95%;
}

.search {
    width: 200px;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
}


.btn {
    background: #333;
    border: 2px solid;
    border-color: transparent;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    position: relative;
    top: 0;
    z-index: 0;
}

.rounded {
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

.sidebarSubmit {
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
}

.sort {
    display: inline-block;
    float: right;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin-right: 10px;
}

select.sort {
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
}

.tablediv {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.smestaj {
    border-bottom: 2px solid #f2f2f2;
}