﻿@model PR62_2018_TuristickaAgencija.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/register.css" rel="stylesheet" type="text/css" />
    <title>ProfileChange</title>

    <script>
        function validate(event) {
            var result = true;

            if (event.submitter.value != "Izmeni profil")
                return true;

            if (document.getElementById("username").value == "") {
                document.getElementById("username").focus();
                document.getElementById("username").style.borderColor = "red";
                document.getElementById("error-msg").innerHTML = "Popunite sva polja oznacena *";
                result = false;
            } else {
                document.getElementById("username").style.borderColor = "green";
            }

            if (document.getElementById("password").value == "") {
                if (result == true) {
                    document.getElementById("password").focus();
                    document.getElementById("error-msg").innerHTML = "Popunite sva polja oznacena *";
                }
                document.getElementById("password").style.borderColor = "red";
                result = false;
            } else {
                document.getElementById("password").style.borderColor = "green";
            }

            if (document.getElementById("newPassword").value == "") {
                if (result == true) {
                    document.getElementById("newPassword").focus();
                    document.getElementById("error-msg").innerHTML = "Popunite sva polja oznacena *";
                }
                document.getElementById("newPassword").style.borderColor = "red";
                result = false;
            } else {
                document.getElementById("newPassword").style.borderColor = "green";
            }

            if (document.getElementById("firstname").value == "") {
                if (result == true) {
                    document.getElementById("firstname").focus();
                    document.getElementById("error-msg").innerHTML = "Popunite sva polja oznacena *";
                }
                document.getElementById("firstname").style.borderColor = "red";
                result = false;
            } else {
                document.getElementById("firstname").style.borderColor = "green";
            }

            if (document.getElementById("lastname").value == "") {
                if (result == true) {
                    document.getElementById("lastname").focus();
                    document.getElementById("error-msg").innerHTML = "Popunite sva polja oznacena *";
                }
                document.getElementById("lastname").style.borderColor = "red";
                result = false;
            } else {
                document.getElementById("lastname").style.borderColor = "green";
            }

            if (document.getElementById("email").value == "") {
                if (result == true) {
                    document.getElementById("email").focus();
                    document.getElementById("error-msg").innerHTML = "Popunite sva polja oznacena *";
                }
                document.getElementById("email").style.borderColor = "red";
                result = false;
            } else {
                document.getElementById("email").style.borderColor = "green";
            }

            if (document.getElementById("datumRodjenja").value == "") {
                if (result == true) {
                    document.getElementById("datumRodjenja").focus();
                    document.getElementById("error-msg").innerHTML = "Popunite sva polja oznacena *";
                }
                document.getElementById("datumRodjenja").style.borderColor = "red";
                result = false;
            } else {
                document.getElementById("datumRodjenja").style.borderColor = "green";
            }

            return result;
        }



        window.onload = function() {
            if (('@ViewBag.Message') == "Izmene uspesno sacuvane")
                document.getElementById("error-msg").style.color = "green";

            document.getElementById("username").value = ('@Model.Username');

            document.getElementById("firstname").value = ('@Model.FirstName');

            document.getElementById("lastname").value = ('@Model.LastName');

            if (('@Model.Pol.ToString()') == "F")
                document.getElementById("pol").value = 'F';

            document.getElementById("email").value = ('@Model.Email');

            document.getElementById("datumRodjenja").value = ('@Model.DatumRodjenja.ToString("yyyy-MM-dd")');
            }
        
    </script>

</head>
<body>

    <div class="wrapper">

        <form class="register" action="~/Authentication/ChangeUserInfo" method="post" onsubmit="return validate(event)">
            <p class="title">Moj profil</p>
            <div class="error-msg" id="error-msg">
                @ViewBag.Message
            </div>
            <table>
                <tr>
                    <td class="titles">Korisnicko ime*:</td>
                    <td><input type="text" class="register" name="username" id="username" autofocus /></td>
                </tr>
                <tr>
                    <td class="titles">Stara lozinka*:</td>
                    <td><input type="password" class="register" name="password" id="password" /></td>
                </tr>
                <tr>
                    <td class="titles">Nova lozinka*:</td>
                    <td><input type="password" class="register" name="newPassword" id="newPassword" /></td>
                </tr>
                <tr>
                    <td class="titles">Ime*:</td>
                    <td><input type="text" class="register" name="firstname" id="firstname" /></td>
                </tr>
                <tr>
                    <td class="titles">Prezime*:</td>
                    <td><input type="text" class="register" name="lastname" id="lastname" /></td>
                </tr>
                <tr>
                    <td class="titles">Pol*:</td>
                    <td>
                        <select name="pol" class="register" id="pol">
                            <option value="M">M</option>
                            <option value="F">F</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="titles">Email*:</td>
                    <td><input type="email" class="register" name="email" id="email" /></td>
                </tr>
                <tr>
                    <td class="titles">Datum rodjenja*:</td>
                    <td><input type="date" class="register" name="datumRodjenja" id="datumRodjenja" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="hidden" name="index" value="@ViewBag.Index" />
                        <input type="submit" value="Izmeni profil" class="register" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="register" formaction="~/Authentication/Potvrdi" formmethod="post">Potvrdi</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</body>
</html>
