﻿@using PR62_2018_TuristickaAgencija.Models
@model IEnumerable<Aranzman>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/homeIndex.css" rel="stylesheet" type="text/css" />
    <title>Home page</title>
    <script>
        function check(event) {
            var result = true;

            if (event.submitter.value != "Pretraga")
                return true;

            var pocMin, pocMax, zavMin, zavMax;

            if (document.getElementById("pocetakMin").value != "" && document.getElementById("pocetakMax").value != "") {
                pocMin = document.getElementById("pocetakMin").value.split("-");
                pocMax = document.getElementById("pocetakMax").value.split("-");
                if (parseInt(pocMin[0]) > parseInt(pocMax[0]) || parseInt(pocMin[1]) > parseInt(pocMax[1])) {
                    document.getElementById("errmsg").innerHTML = "Datum od kog se uporedjuje ne moze biti veci od onog do kog se uporedjuje";
                    document.getElementById("pocetakMin").style.borderColor = "red";
                    document.getElementById("pocetakMax").style.borderColor = "red";
                    result = false;
                }

                if (parseInt(pocMin[1]) == parseInt(pocMax[1]) && parseInt(pocMin[2]) > parseInt(pocMax[2])) {
                    document.getElementById("errmsg").innerHTML = "Datum od kog se uporedjuje ne moze biti veci od onog do kog se uporedjuje";
                    document.getElementById("pocetakMin").style.borderColor = "red";
                    document.getElementById("pocetakMax").style.borderColor = "red";
                    result = false;
                }
            }

            if (document.getElementById("zavrsetakMin").value != "" && document.getElementById("zavrsetakMax").value != "" && result) {
                zavMin = document.getElementById("zavrsetakMin").value.split("-");
                zavMax = document.getElementById("zavrsetakMax").value.split("-");
                if (parseInt(zavMin[0]) > parseInt(zavMax[0]) || parseInt(zavMin[1]) > parseInt(zavMax[1])) {
                    document.getElementById("errmsg").innerHTML = "Datum od kog se uporedjuje ne moze biti veci od onog do kog se uporedjuje";
                    document.getElementById("zavrsetakMin").style.borderColor = "red";
                    document.getElementById("zavrsetakMax").style.borderColor = "red";
                    result = false;
                }
                if (parseInt(zavMin[1]) == parseInt(zavMax[1]) && parseInt(zavMin[2]) > parseInt(zavMax[2])) {
                    document.getElementById("errmsg").innerHTML = "Datum od kog se uporedjuje ne moze biti veci od onog do kog se uporedjuje";
                    document.getElementById("zavrsetakMin").style.borderColor = "red";
                    document.getElementById("zavrsetakMax").style.borderColor = "red";
                    result = false;
                }
            }

            if (document.getElementById("pocetakMin").value != "" && document.getElementById("zavrsetakMin").value != "" && result) {
                pocMin = document.getElementById("pocetakMin").value.split("-");
                zavMin = document.getElementById("zavrsetakMin").value.split("-");
                if (parseInt(pocMin[0]) > parseInt(zavMin[0]) || parseInt(pocMin[1]) > parseInt(zavMin[1])) {
                    document.getElementById("errmsg").innerHTML = "Datum pocetka ne moze biti veci od datuma zavrsetka";
                    document.getElementById("pocetakMin").style.borderColor = "red";
                    document.getElementById("zavrsetakMin").style.borderColor = "red";
                    result = false;
                }
                if (parseInt(pocMin[1]) == parseInt(zavMin[1]) && parseInt(pocMin[2]) > parseInt(zavMin[2])) {
                    document.getElementById("errmsg").innerHTML = "Datum pocetka ne moze biti veci od datuma zavrsetka";
                    document.getElementById("pocetakMin").style.borderColor = "red";
                    document.getElementById("zavrsetakMin").style.borderColor = "red";
                    result = false;
                }
            }

            if (document.getElementById("pocetakMax").value != "" && document.getElementById("zavrsetakMin").value != "" && result) {
                pocMax = document.getElementById("pocetakMax").value.split("-");
                zavMin = document.getElementById("zavrsetakMin").value.split("-");
                if (parseInt(pocMax[0]) > parseInt(zavMin[0]) || parseInt(pocMax[1]) > parseInt(zavMin[1])) {
                    document.getElementById("errmsg").innerHTML = "Datum pocetka ne moze biti veci od datuma zavrsetka";
                    document.getElementById("pocetakMax").style.borderColor = "red";
                    document.getElementById("zavrsetakMin").style.borderColor = "red";
                    result = false;
                }
                if (parseInt(pocMax[1]) == parseInt(zavMin[1]) && parseInt(pocMax[2]) > parseInt(zavMin[2])) {
                    document.getElementById("errmsg").innerHTML = "Datum pocetka ne moze biti veci od datuma zavrsetka";
                    document.getElementById("pocetakMin").style.borderColor = "red";
                    document.getElementById("zavrsetakMin").style.borderColor = "red";
                    result = false;
                }
            }

            if (document.getElementById("pocetakMin").value != "" && document.getElementById("zavrsetakMax").value != "" && result) {
                pocMin = document.getElementById("pocetakMin").value.split("-");
                zavMax = document.getElementById("zavrsetakMax").value.split("-");
                if (parseInt(pocMin[0]) > parseInt(zavMax[0]) || parseInt(pocMin[1]) > parseInt(zavMax[1])) {
                    document.getElementById("errmsg").innerHTML = "Datum pocetka ne moze biti veci od datuma zavrsetka";
                    document.getElementById("pocetakMin").style.borderColor = "red";
                    document.getElementById("zavrsetakMax").style.borderColor = "red";
                    result = false;
                }
                if (parseInt(pocMin[1]) == parseInt(zavMax[1]) && parseInt(pocMin[2]) > parseInt(zavMax[2])) {
                    document.getElementById("errmsg").innerHTML = "Datum pocetka ne moze biti veci od datuma zavrsetka";
                    document.getElementById("pocetakMin").style.borderColor = "red";
                    document.getElementById("zavrsetakMax").style.borderColor = "red";
                    result = false;
                }
            }

            if (document.getElementById("pocetakMax").value != "" && document.getElementById("zavrsetakMax").value != "" && result) {
                pocMax = document.getElementById("pocetakMax").value.split("-");
                zavMax = document.getElementById("zavrsetakMax").value.split("-");
                if (parseInt(pocMax[0]) > parseInt(zavMax[0]) || parseInt(pocMax[1]) > parseInt(zavMax[1])) {
                    document.getElementById("errmsg").innerHTML = "Datum pocetka ne moze biti veci od datuma zavrsetka";
                    document.getElementById("pocetakMax").style.borderColor = "red";
                    document.getElementById("zavrsetakMax").style.borderColor = "red";
                    result = false;
                }
                if (parseInt(pocMax[1]) == parseInt(zavMax[1]) && parseInt(pocMax[2]) > parseInt(zavMax[2])) {
                    document.getElementById("errmsg").innerHTML = "Datum pocetka ne moze biti veci od datuma zavrsetka";
                    document.getElementById("pocetakMin").style.borderColor = "red";
                    document.getElementById("zavrsetakMax").style.borderColor = "red";
                    result = false;
                }
            }

            if (document.getElementById("naziv").value == "Naziv aranzmana") {
                document.getElementById("naziv").value = "";
            }

            return result;
        }

        function poljeOnFocus() {
            if (document.getElementById("naziv").value == "Naziv aranzmana") {
                document.getElementById("naziv").value = "";
            }
        }

        function poljeLostFocus() {
            if (document.getElementById("naziv").value == "" || document.getElementById("naziv").value.trim() == "") {
                document.getElementById("naziv").value = "Naziv aranzmana";
            }
        }

        window.onload = load;

        function load() {
            if (@ViewBag.Message.Length != 0) {
                window.open("#Login", "_self");
            }
        }

        function validateLogin(event) {
            var result = true;
            var errmsg = document.getElementById("error-msg").innerHTML;

            if (document.getElementById("username").value == "") {
                document.getElementById("username").focus();
                document.getElementById("username").style.borderColor = "red";
                document.getElementById("error-msg").innerHTML = "Popunite sva polja oznacena *";
                result = false;
            } else {
                document.getElementById("username").style.borderColor = "green";
            }

            if (document.getElementById("password").value == "") {
                if (result == true) {
                    document.getElementById("password").focus();
                    document.getElementById("error-msg").innerHTML = "Popunite sva polja oznacena *";
                }
                document.getElementById("password").style.borderColor = "red";
                result = false;
            } else {
                document.getElementById("password").style.borderColor = "green";
            }

            return result;
        }

        function openNav() {
            if (document.getElementById("mySidebar").style.width == "200px") {
                closeNav();
                return;
            }
            document.getElementById("mySidebar").style.width = "200px";
            document.getElementById("main").style.marginLeft = "200px";
            document.getElementById("nav").style.marginLeft = "200px";
            document.getElementById("navBtn").innerHTML = " &#129168; Sakrij filtere";

        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("nav").style.marginLeft = "0";
            document.getElementById("navBtn").innerHTML = " &#129170; Prikazi filtere"; 
        }

    </script>
</head>
<body>

    <div id="nav" class="navbar">
        <div class="navbuttons">
            <form class="navbarform">
                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Buduci aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/PastAranzmani" formmethod="post">Raniji aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/SmestajneJed" formmethod="post">Smestajne jedinice</button>
                <button class="navbutton" type="submit" formaction="~/Home/Komentari" formmethod="post">Komentari</button>


                @if (ViewBag.User.Uloga == Uloga.GUEST)
                {
                    <a class="navbutton" href="#Login" style="text-decoration:none;">LogIn</a>
                }
                else
                {
                    if (ViewBag.User.Uloga == Uloga.TURISTA)
                    {
                        <div class="dropdown">
                            <button class="dropbtn" disabled>Moj profil</button>
                            <div class="dropdown-content">
                                <a href="~/Home/Rezervacije">Moje rezervacije</a>
                                <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                            </div>
                        </div>
                    }
                    if (ViewBag.User.Uloga == Uloga.MENADZER)
                    {
                        <div class="dropdown">
                            <button class="dropbtn" disabled>Moj profil</button>
                            <div class="dropdown-content">
                                <a href="~/Manager/Index">Moji aranzmani</a>
                                <a href="~/Manager/Smestaji">Smestaji</a>
                                <a href="~/Manager/Rezervacije">Rezervacije</a>
                                <a href="~/Manager/NoviAranzman">Kreiraj aranzman</a>
                                <a href="~/Manager/NoviSmestaj">Kreiraj smestaj</a>
                                <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                            </div>
                        </div>
                    }
                    if (ViewBag.User.Uloga == Uloga.ADMINISTRATOR)
                    {
                        <div class="dropdown">
                            <button class="dropbtn" disabled>Moj profil</button>
                            <div class="dropdown-content">
                                <a href="~/Administrator/Index">Korisnici</a>
                                <a href="~/Administrator/SumnjiviTuristi">Sumnjivi turisti</a>
                                <a href="~/Administrator/NoviManager">Dodaj novog menadzera</a>
                                <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                            </div>
                        </div>
                    }
                    <button class="navbutton" type="submit" formaction="~/Authentication/LogOut" formmethod="post">Logout</button>
                }
            </form>
        </div>
    </div>

    <div id="main">
        <div>
            <br />
            <br />
            @{
                if (ViewBag.User.Uloga == Uloga.GUEST)
                {
                    <h1>Dobro dosli</h1>
                }
                else
                {
                    <h1>Dobro dosli nazad @ViewBag.User.Username</h1>
                }
            }
        </div>

        <div id="Login" class="overlay">
            <div class="popup">
                <div class="login">
                    <form name="login" action="~/Home/LogIn" method="post" onsubmit="return validateLogin(event)">
                        <center><p class="title">Log in</p></center>
                        <div class="error-msg" id="error-msg">
                            @if (ViewBag.Message != null)
                            {
                                <p>@ViewBag.Message</p>
                            }
                        </div>
                        <p class="titles">Korisnicko ime* :</p>
                        <input class="login" type="text" name="username" id="username" />
                        <p class="titles">Lozinka* :</p>
                        <input class="login" type="password" name="password" id="password" />
                        <input type="submit" class="login" value="Log in" />
                        <center><p class="paragraflogin"><a class="paragraflogin" href="#Login.close">Nastavi kao gost</a> ili se <a class="paragraflogin" href="~/Authentication/Index">registruj</a> da bi koristio nase usluge</p></center>
                    </form>
                </div>
            </div>
        </div>

        <button type="button" id="navBtn" class="openbtn" onclick="openNav()"> &#129170; Prikazi filtere</button>
        <div id="mySidebar" class="sidebar">
            <form name="search" action="~/Home/Search" method="post" onsubmit="return check(event)">
                <table class="searchHomeIndex" style="text-align:left;">
                    <tr>
                        <td style="justify-content:center">
                            <cetnter>Pretraga aranzmana:</cetnter>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="errmsg" class="error-msg-smaller">
                                @ViewBag.ErrMsg
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="naziv" value="Naziv aranzmana" id="naziv" onblur="poljeLostFocus()" onfocus="poljeOnFocus()" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="tipPrevoza" name="prevoz" value="">
                                <option value="">Tip prevoza</option>
                                <option value="Autobus">Autobus</option>
                                <option value="Avion">Avion</option>
                                <option value="AutobusIAvion">Autobus + avion</option>
                                <option value="Individualan">Individualan</option>
                                <option value="ostalo">Ostalo</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="tipAranzmana" name="tipAranzmana">
                                <option value="">Tip aranzmana</option>
                                <option value="NocenjeSaDoruckom">Nocenje sa doruckom</option>
                                <option value="Polupansion">Polupansion</option>
                                <option value="PunPansion">Pun pansion</option>
                                <option value="AllInclusive">All inclusive</option>
                                <option value="NajamApartmana">Najam apartmana</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Datum pocetka putovanja:</td>
                    </tr>
                    <tr>
                        <td>Od: <input type="date" name="pocetakMin" id="pocetakMin" /></td>
                    </tr>
                    <tr>
                        <td>
                            Do: <input type="date" name="pocetakMax" id="pocetakMax" />
                        </td>
                    </tr>
                    <tr>
                        <td>Datum zavrsetka putovanja:</td>
                    </tr>
                    <tr>
                        <td>Od: <input type="date" name="zavrsetakMin" id="zavrsetakMin" /></td>
                    </tr>
                    <tr>
                        <td>Do: <input type="date" name="zavrsetakMax" id="zavrsetakMax" /></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" name="vremeAranzmana" value="@ViewBag.Aranzmani" />
                            <input type="submit" style="float: right;" class="sidebarSubmit" value="Pretraga" />
                            <button formaction="~/Home/Clear" formmethod="post" class="sidebarSubmit" name="clear" value="@ViewBag.Aranzmani" style="float: left;">Ponisti filtere</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>


        <div class="sortHomeIndex">
            <form action="~/Home/Sort" method="post">
                <table class="sortHomeIndex">
                    <tr>
                        <td>
                            Sortiranje:&nbsp; 
                        </td>
                        <td>
                            <select class="sortHomeIndex" name="sort">
                                <option value="datumpocetka">Datum pocetka putovanja</option>
                                <option value="datumzavrsetka">Datum zavrsetka putovanja</option>
                                <option value="naziv">Naziv aranzmana</option>
                            </select>
                        </td>
                        <td>
                            <select class="sortHomeIndex" name="type">
                                <option value="a">Rastuce</option>
                                <option value="d">Opadajuce</option>
                            </select>
                        </td>
                        <td>
                            <input type="hidden" name="vremeAranzmana" value="@ViewBag.Aranzmani" />
                            <input type="submit" class="btn rounded" value="Sortiraj" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <br />

        <div>
            @{ int br = 0;}

            <table class="tablediv tableAranzmani" cellpadding="0" cellspacing="0">
                @foreach (var item in Model)
                {
                    if (ViewBag.Aranzmani == "buduci")
                    {
                        if (item.DatumPocetka > DateTime.Now && item.Active)
                        {
                            <tr class="borderLTB">
                                <td>
                                    Polazak
                                    @item.DatumPocetka.ToString("dd. MM. yyyy")
                                </td>
                                <td>
                                    Povratak
                                    @item.DatumZavrsetka.ToString("dd. MM. yyyy")
                                </td>
                                <td>
                                    Dana
                                    @((item.DatumZavrsetka - item.DatumPocetka).TotalDays)
                                </td>
                                <td>
                                    <img src="~/Slike/@item.Path" style="width:100px; height:100px" />
                                </td>
                                <td>
                                    @item.Naziv
                                </td>
                                <td class="priceCol">
                                    Cena
                                    od @{
                                        if (item.Smestaj.SmestajneJedinice.Count > 0)
                                        {
                                            float i = item.Smestaj.SmestajneJedinice[0].Cena;
                                            foreach (var smestajnajed in item.Smestaj.SmestajneJedinice)
                                            {
                                                if (i > smestajnajed.Cena)
                                                {
                                                    i = smestajnajed.Cena;
                                                }
                                            }
                                            @((item.DatumZavrsetka - item.DatumPocetka).TotalDays * i)<text>&#8364;</text>
                                        }
                                        else
                                        {
                                            <p>0&#8364;</p>
                                        }
                                    }
                                </td>
                                <td>
                                    <form method="post" action="~/Home/Pregled">
                                        <input type="hidden" value="@br.ToString()" name="index" />
                                        <input type="submit" class="btn rounded" value="Pogledaj" />

                                    </form>

                                </td>

                            </tr>
                        }
                        br++;
                    }
                    else
                    {
                        if (item.DatumPocetka <= DateTime.Now && item.Active)
                        {
                            <tr>
                                <td>
                                    Polazak
                                    @item.DatumPocetka.ToString("dd. MM. yyyy")
                                </td>
                                <td>
                                    Povratak
                                    @item.DatumZavrsetka.ToString("dd. MM. yyyy")
                                </td>
                                <td>
                                    Dana
                                    @((item.DatumZavrsetka - item.DatumPocetka).TotalDays)
                                </td>
                                <td>
                                    <img src="~/Slike/@item.Path" style="width:100px; height:100px" />
                                </td>
                                <td>
                                    @item.Naziv
                                </td>
                                <td class="priceCol">
                                    Cena
                                    od @{
                                        if (item.Smestaj.SmestajneJedinice.Count > 0)
                                        {
                                            float i = item.Smestaj.SmestajneJedinice[0].Cena;
                                            foreach (var smestajnajed in item.Smestaj.SmestajneJedinice)
                                            {
                                                if (i > smestajnajed.Cena)
                                                {
                                                    i = smestajnajed.Cena;
                                                }
                                            }
                                            @((item.DatumZavrsetka - item.DatumPocetka).TotalDays * i)<text>&#8364;</text>
                                        }
                                        else
                                        {
                                            <p>0&#8364;</p>
                                        }
                                    }
                                </td>
                                <td>
                                    <form method="post" action="~/Home/Pregled">
                                        <input type="hidden" value="@br.ToString()" name="index" />
                                        <input type="submit" class="btn rounded" value="Pogledaj" />

                                    </form>

                                </td>

                            </tr>
                        }
                        br++;
                    }
                }
            </table>
        </div>

    </div>

</body>
</html>
