﻿@using PR62_2018_TuristickaAgencija.Models
@model IEnumerable<Komentar>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/smestajnejed.css" rel="stylesheet" type="text/css" />
    <title>Komentari</title>
    <script>

        function validateLogin(event) {
            var result = true;
            var errmsg = document.getElementById("error-msg").innerHTML;

            if (document.getElementById("username").value == "") {
                document.getElementById("username").focus();
                document.getElementById("username").style.borderColor = "red";
                document.getElementById("error-msg").innerHTML = "Popunite sva polja oznacena *";
                result = false;
            } else {
                document.getElementById("username").style.borderColor = "green";
            }

            if (document.getElementById("password").value == "") {
                if (result == true) {
                    document.getElementById("password").focus();
                    document.getElementById("error-msg").innerHTML = "Popunite sva polja oznacena *";
                }
                document.getElementById("password").style.borderColor = "red";
                result = false;
            } else {
                document.getElementById("password").style.borderColor = "green";
            }

            return result;
        }
    </script>
    <style>
        tr td{
            padding:5px;
            text-align:center;
        }
    </style>
</head>
<body>

    <div class="navbar">
        <div class="navbuttons">
            <form class="navbarform">
                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Buduci aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/PastAranzmani" formmethod="post">Raniji aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/SmestajneJed" formmethod="post">Smestajne jedinice</button>
                <button class="navbutton" type="submit" formaction="~/Home/Komentari" formmethod="post">Komentari</button>


                @if (ViewBag.User.Uloga == Uloga.GUEST)
                {
                    <a class="navbutton" href="#Login" style="text-decoration:none;">LogIn</a>
                }
                else
                {
                    if (ViewBag.User.Uloga == Uloga.TURISTA)
                    {
                        <div class="dropdown">
                            <button class="dropbtn" disabled>Moj profil</button>
                            <div class="dropdown-content">
                                <a href="~/Home/Rezervacije">Moje rezervacije</a>
                                <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                            </div>
                        </div>
                    }
                    if (ViewBag.User.Uloga == Uloga.MENADZER)
                    {
                        <div class="dropdown">
                            <button class="dropbtn" disabled>Moj profil</button>
                            <div class="dropdown-content">
                                <a href="~/Manager/Index">Moji aranzmani</a>
                                <a href="~/Manager/Smestaji">Smestaji</a>
                                <a href="~/Manager/Rezervacije">Rezervacije</a>
                                <a href="~/Manager/NoviAranzman">Kreiraj aranzman</a>
                                <a href="~/Manager/NoviSmestaj">Kreiraj smestaj</a>
                                <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                            </div>
                        </div>
                    }
                    if (ViewBag.User.Uloga == Uloga.ADMINISTRATOR)
                    {
                        <div class="dropdown">
                            <button class="dropbtn" disabled>Moj profil</button>
                            <div class="dropdown-content">
                                <a href="~/Administrator/Index">Korisnici</a>
                                <a href="~/Administrator/SumnjiviTuristi">Sumnjivi turisti</a>
                                <a href="~/Administrator/NoviManager">Dodaj novog menadzera</a>
                                <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                            </div>
                        </div>
                    }
                    <button class="navbutton" type="submit" formaction="~/Authentication/LogOut" formmethod="post">Logout</button>
                }
            </form>
        </div>
    </div>

    <div id="Login" class="overlay">
        <div class="popup">
            <div class="login">
                <form name="login" action="~/Home/LogIn" method="post" onsubmit="return validateLogin(event)">
                    <center><p class="title">Log in</p></center>
                    <div class="error-msg" id="error-msg">
                        @if (ViewBag.Message != null)
                        {
                            <p>@ViewBag.Message</p>
                        }
                    </div>
                    <p class="titles">Korisnicko ime* :</p>
                    <input class="login" type="text" name="username" id="username" />
                    <p class="titles">Lozinka* :</p>
                    <input class="login" type="password" name="password" id="password" />
                    <input type="submit" class="login" value="Log in" />
                    <center><p class="paragraflogin"><a class="paragraflogin" href="#Login.close">Nastavi kao gost</a> ili se <a class="paragraflogin" href="~/Authentication/Index">registruj</a> da bi koristio nase usluge</p></center>
                </form>
            </div>
        </div>
    </div>

    <div>
        <br />
        <br />
        <h2 style="margin-left:10px">Komentari nasih korisnika:</h2>
    </div>
    @if (ViewBag.User.Uloga == Uloga.MENADZER)
    {
        int br = 0;
        if (Model.Count() > 0)
        {
            <table align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <th class="smestaj">Aranzman</th>
                    <th class="smestaj">Korisnik</th>
                    <th class="smestaj">Komentar</th>
                    <th class="smestaj">Ocena</th>
                    <th class="smestaj">Status</th>
                </tr>

                @foreach (var komentar in Model)
                {
                    if (ViewBag.User.ListaAranzmana.Contains(komentar.Aranzman))
                    {
                        <tr style="align-content:center;">
                            <td style="align-content:center;">@komentar.Aranzman.Naziv</td>
                            <td style="align-content:center;">@komentar.Turista.FirstName</td>
                            <td>@komentar.Tekst</td>
                            <td>@komentar.Ocena</td>
                            <td>@komentar.Status</td>
                            @if(komentar.Status == StatusKomentara.PENDING)
                            {
                                <td>
                                    <form style="display:inline" action="~/Manager/PrihvatiKom" method="post">
                                        <input type="hidden" value="@br" name="idKom" />
                                        <input type="submit" class="btn rounded" value="Prihvati" />
                                    </form>
                                    <form style="display:inline" action="~/Manager/OdbijKom" method="post">
                                        <input type="hidden" value="@br" name="idKom" />
                                        <input type="submit" class="btn rounded" value="Odbij" />
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                    br++;
                }
            </table>
        }
        else
        {
            <p>Trenutno nema aktivnih komentara</p>
        }
    }
    else
    {
        if (Model.Count() > 0)
        {
            <table align="center" style="align-content:center" cellpadding="0" cellspacing="0">
                <tr>
                    <th class="smestaj">Aranzman</th>
                    <th class="smestaj">Korisnik</th>
                    <th class="smestaj">Komentar</th>
                    <th class="smestaj">Ocena</th>
                </tr>

                @foreach (var komentar in Model)
                {
                    if (komentar.Status == StatusKomentara.ACCEPTED)
                    {
                        <tr>
                            <td>@komentar.Aranzman.Naziv</td>
                            <td>@komentar.Turista.FirstName</td>
                            <td>@komentar.Tekst</td>
                            <td>@komentar.Ocena</td>
                        </tr>
                    }
                }
            </table>
        }
        else
        {
            <p>Trenutno nema aktivnih komentara</p>
        }
    }
</body>
</html>
