﻿@using PR62_2018_TuristickaAgencija.Models
@model Aranzman

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">-->
    <link rel="stylesheet" href="~/Content/ol.css" type="text/css">
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/pregled.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/smestajnejed.css" rel="stylesheet" type="text/css" />
    <style>
        .map {
            height: 300px;
            width: 50%;
        }

        tr td{
            padding:5px;
            text-align:center;
        }
    </style>
    <!--<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>-->
    <script src="~/Content/ol.js"></script>
    <script>

        function validateLogin(event) {
            var result = true;
            var errmsg = document.getElementById("error-msg").innerHTML;

            if (document.getElementById("username").value == "") {
                document.getElementById("username").focus();
                document.getElementById("username").style.borderColor = "red";
                document.getElementById("error-msg").innerHTML = "Popunite sva polja oznacena *";
                result = false;
            } else {
                document.getElementById("username").style.borderColor = "green";
            }

            if (document.getElementById("password").value == "") {
                if (result == true) {
                    document.getElementById("password").focus();
                    document.getElementById("error-msg").innerHTML = "Popunite sva polja oznacena *";
                }
                document.getElementById("password").style.borderColor = "red";
                result = false;
            } else {
                document.getElementById("password").style.borderColor = "green";
            }

            return result;
        }
    </script>
    <title>Pregled</title>
</head>
<body>

    <div class="navbar">
        <div class="navbuttons">
            <form class="navbarform">
                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Buduci aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/PastAranzmani" formmethod="post">Raniji aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/SmestajneJed" formmethod="post">Smestajne jedinice</button>
                <button class="navbutton" type="submit" formaction="~/Home/Komentari" formmethod="post">Komentari</button>


                @if (ViewBag.User.Uloga == Uloga.GUEST)
                {
                    <a class="navbutton" href="#Login" style="text-decoration:none;">LogIn</a>
                }
                else
                {
                    if (ViewBag.User.Uloga == Uloga.TURISTA)
                    {
                        <div class="dropdown">
                            <button class="dropbtn" disabled>Moj profil</button>
                            <div class="dropdown-content">
                                <a href="~/Home/Rezervacije">Moje rezervacije</a>
                                <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                            </div>
                        </div>
                    }
                    if (ViewBag.User.Uloga == Uloga.MENADZER)
                    {
                        <div class="dropdown">
                            <button class="dropbtn" disabled>Moj profil</button>
                            <div class="dropdown-content">
                                <a href="~/Manager/Index">Moji aranzmani</a>
                                <a href="~/Manager/Smestaji">Smestaji</a>
                                <a href="~/Manager/Rezervacije">Rezervacije</a>
                                <a href="~/Manager/NoviAranzman">Kreiraj aranzman</a>
                                <a href="~/Manager/NoviSmestaj">Kreiraj smestaj</a>
                                <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                            </div>
                        </div>
                    }
                    if (ViewBag.User.Uloga == Uloga.ADMINISTRATOR)
                    {
                        <div class="dropdown">
                            <button class="dropbtn" disabled>Moj profil</button>
                            <div class="dropdown-content">
                                <a href="~/Administrator/Index">Korisnici</a>
                                <a href="~/Administrator/SumnjiviTuristi">Sumnjivi turisti</a>
                                <a href="~/Administrator/NoviManager">Dodaj novog menadzera</a>
                                <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                            </div>
                        </div>
                    }
                    <button class="navbutton" type="submit" formaction="~/Authentication/LogOut" formmethod="post">Logout</button>
                }
            </form>
        </div>
    </div>

    <div id="Login" class="overlay">
        <div class="popup">
            <div class="login">
                <form name="login" action="~/Home/LogIn" method="post" onsubmit="return validateLogin(event)">
                    <center><p class="title">Log in</p></center>
                    <div class="error-msg" id="error-msg">
                        @if (ViewBag.Message != null)
                        {
                            <p>@ViewBag.Message</p>
                        }
                    </div>
                    <p class="titles">Korisnicko ime* :</p>
                    <input class="login" type="text" name="username" id="username" />
                    <p class="titles">Lozinka* :</p>
                    <input class="login" type="password" name="password" id="password" />
                    <input type="submit" class="login" value="Log in" />
                    <center><p class="paragraflogin"><a class="paragraflogin" href="#Login.close">Nastavi kao gost</a> ili se <a class="paragraflogin" href="~/Authentication/Index">registruj</a> da bi koristio nase usluge</p></center>
                </form>
            </div>
        </div>
    </div>

    <div class="center">
        <br />
        <br />
        <p>
            <img src="~/Slike/@Model.Path" style="width:450px; height:200px" />
        </p>
        <p>
            Aranzman @Model.Naziv podrazumeva smestaj @Model.Tip.ToString() uz prevoz @Model.Prevoz.ToString().
        </p>
        <p>
            Lokacija putavanja je @Model.Lokacija.
        </p>
        <p>
            Datum pocetka putovanja je @Model.DatumPocetka.ToString("dd.MM.yyyy"), a povratak je @Model.DatumZavrsetka.ToString("dd.MM.yyyy").
        </p>
        <p>
            Mesto nalazenja: @Model.Mesto.Adresa
            <div id="map" class="map"></div>
            <script type="text/javascript">
                var map = new ol.Map({
                    target: 'map',
                    layers: [
                        new ol.layer.Tile({
                            source: new ol.source.OSM()
                        })
                    ],
                    view: new ol.View({
                        center: ol.proj.fromLonLat([@Convert.ToDecimal(Model.Mesto.GeoDuzina), @Convert.ToDecimal(Model.Mesto.GeoSirina)]),
                        zoom: 17
                    })
                });
                var layer = new ol.layer.Vector({
                    source: new ol.source.Vector({
                        features: [
                            new ol.Feature({
                                geometry: new ol.geom.Point(ol.proj.fromLonLat([@Convert.ToDecimal(Model.Mesto.GeoDuzina), @Convert.ToDecimal(Model.Mesto.GeoSirina)]))
                            })
                        ]
                    })
                });
                map.addLayer(layer);
            </script>
            Vreme nalazenja: @Model.VremeNalazenja. Maksimalni broj putnika je @Model.MaxPutnika zbog toga pozurite i rezervisite svoje mesto!
        </p>
        <p>
            @Model.Opis
        </p>
        <p>
            Program putovanja:
            @Model.ProgramPutovanja
        </p>
        <p style="padding-bottom:0px;">
            Smestaj je planiran u @Model.Smestaj.Tip.ToString() @Model.Smestaj.Naziv sa @Model.Smestaj.BrojZvezdica.ToString() zvezdice.
            U smestaju postoji:
            </p>
            <ul style="padding-top:0px">
                @if (Model.Smestaj.Bazen)
                {
                    <li>Bazen</li>
                }
                @if (Model.Smestaj.Spa)
                {
                    <li>Spa centar</li>
                }
                @if (Model.Smestaj.Prilagodjen)
                {
                    <li>Prilagodjen osobama sa invaliditetom</li>
                }
                @if (Model.Smestaj.Wifi)
                {
                    <li>Wifi</li>
                }
            </ul>


        <p style="float:left;">Smestajne jedinice @Model.Smestaj.Naziv:</p>
        <table align="center" style="align-content:center" cellpadding="0" cellspacing="0">
            <tr style="padding:5px;">
                <th class="smestaj" style="padding:5px;">Rbr</th>
                <th class="smestaj" style="word-wrap: break-word;padding:5px;">Maksimalno<br/>gostiju</th>
                <th class="smestaj" style="padding:5px;">Pet friendly</th>
                <th class="smestaj" style="word-wrap: break-word;padding:5px;">Cena za<br />celu jedinicu</th>
                <th class="smestaj" style="word-wrap: break-word;padding:5px;">Ukupna cena<br />za ceo aranzman</th>
                @if (ViewBag.User.Uloga == Uloga.TURISTA)
                {
                    <th class="smestaj">Status jedinice</th>
                }
            </tr>
            @{ int br = 0;}
            @foreach (var item in Model.Smestaj.SmestajneJedinice)
            {
                if (item.Active)
                {
                    <tr>
                        <td>Smestajna jedinica @((++br).ToString())</td>
                        <td>@item.MaxGostiju</td>
                        @if (item.PetFriendly)
                        {
                            <td>Da</td>
                        }
                        else
                        {
                            <td>Ne</td>
                        }
                        <td>@item.Cena&#8364;</td>
                        <td>@((Model.DatumZavrsetka - Model.DatumPocetka).TotalDays * item.Cena)&#8364;</td>
                        @if (ViewBag.User.Uloga == Uloga.TURISTA)
                        {
                            if (Model.DatumPocetka > DateTime.Now.Date)
                            {
                                if (item.Reserverd)
                                {
                                    <td><button class="btn rounded" style="background-color:red; padding:5px; color:black" disabled>Rezervisano</button></td>
                                }
                                else
                                {
                                    <td>
                                        <form action="~/Home/Rezervisi" method="post">
                                            <input type="hidden" name="indexSmestajJed" value="@Model.Smestaj.SmestajneJedinice.IndexOf(item).ToString()" />
                                            <input type="hidden" name="indexAranzmana" value="@ViewBag.Index" />
                                            <input type="submit" class="btn rounded" style="padding:5px;" value="Rezervisi" />
                                        </form>
                                    </td>
                                }
                            }
                            else
                            {
                                <td>Zavrseno</td>
                            }
                        }
                    </tr>
                }
            }
        </table>
        <br />
        <br />
    </div>


</body>
</html>
