﻿@using PR62_2018_TuristickaAgencija.Models
@model IEnumerable<Rezervacija>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/homeIndex.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/smestajnejed.css" rel="stylesheet" type="text/css" />
    <title>Rezervacije</title>
    <script>

        function checkSearch(event) {
            if (event.submitter.value != "Pretraga")
                return true;

            var min = 0;
            var max = 0;
            var result = true;

            if (document.getElementById("naziv").value == "Naziv aranzmana") {
                document.getElementById("naziv").value = "";
            }

            if (document.getElementById("pocOd") != "" && document.getElementById("pocDo") != "") {
                min = document.getElementById("pocOd").value.split("-");
                max = document.getElementById("pocDo").value.split("-");
                if (parseInt(min[0]) > parseInt(max[0]) || parseInt(min[1]) > parseInt(max[1])) {
                    document.getElementById("error-msg").innerHTML = "Datum od kog se uporedjuje ne moze biti veci od onog do kog se uporedjuje";
                    document.getElementById("pocOd").style.borderColor = "red";
                    document.getElementById("pocDo").style.borderColor = "red";
                    result = false;
                }

                if (parseInt(min[1]) == parseInt(max[1]) && parseInt(min[2]) > parseInt(max[2])) {
                    if (result == true)
                        document.getElementById("error-msg").innerHTML = "Datum od kog se uporedjuje ne moze biti veci od onog do kog se uporedjuje";
                    document.getElementById("pocOd").style.borderColor = "red";
                    document.getElementById("pocDo").style.borderColor = "red";
                    result = false;
                }
            }

            if (document.getElementById("brOd") != "" && document.getElementById("brDo") != "") {
                if (parseInt(document.getElementById("brOd").value) > parseInt(document.getElementById("brDo").value)) {
                    if (result == true)
                        document.getElementById("error-msg").innerHTML = "Minimalni broj osoba ne moze biti veci od maksimalnog";
                    document.getElementById("brOd").style.borderColor = "red";
                    document.getElementById("brDo").style.borderColor = "red";
                    result = false;
                }
            }

            if (document.getElementById("cenaOd") != "" && document.getElementById("cenaDo") != "") {
                if (parseInt(document.getElementById("cenaOd").value) > parseInt(document.getElementById("cenaDo").value)) {
                    if (result == true)
                        document.getElementById("error-msg").innerHTML = "Minimalna unesena cena ne moze biti veca od maksimalne";
                    document.getElementById("cenaOd").style.borderColor = "red";
                    document.getElementById("cenaDo").style.borderColor = "red";
                    result = false;
                }
            }

            return result;
        }

        function showKomentarRow(id) {
            document.getElementById("tr_" + id).style.display = 'table-row';
        }

        function hideKomentarRow(id) {
            document.getElementById("tr_" + id).style.display = 'none';
        }

        function checkKom(event, id) {

            if (event.submitter.value != "Dodaj komentar")
                return false;

            var result = true;
            var tekst = "tekst_" + id;
            var ocena = "ocena_" + id;

            if (document.getElementById(tekst).value == "" || document.getElementById(tekst).value.trim() == "" || document.getElementById(tekst).value.trim() == "Ovde unesite tekst komentara") {
                document.getElementById(tekst).style.borderColor = "red";
                document.getElementById(tekst).focus();
                result = false;
            } else {
                document.getElementById(tekst).style.borderColor = "green";
            }

            if (document.getElementById(ocena).value == "") {
                if (result)
                    document.getElementById(ocena).focus();
                document.getElementById(ocena).style.borderColor = "red";
            } else {
                document.getElementById(ocena).style.borderColor = "green";
            }

            return result;
        }

        function poljeOnFocus() {
            if (document.getElementById("naziv").value == "Naziv aranzmana") {
                document.getElementById("naziv").value = "";
            }
        }

        function poljeLostFocus() {
            if (document.getElementById("naziv").value == "" || document.getElementById("naziv").value.trim() == "") {
                document.getElementById("naziv").value = "Naziv aranzmana";
            }
        }

        function openNav() {
            if (document.getElementById("mySidebar").style.width == "200px") {
                closeNav();
                return;
            }
            document.getElementById("mySidebar").style.width = "200px";
            document.getElementById("main").style.marginLeft = "200px";
            document.getElementById("nav").style.marginLeft = "200px";
            document.getElementById("navBtn").innerHTML = " &#129168; Sakrij filtere";

        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("nav").style.marginLeft = "0";
            document.getElementById("navBtn").innerHTML = " &#129170; Prikazi filtere";
        }
    </script>
    <style>
        tr td {
            
            
        }
    </style>
</head>
<body>

    <div class="navbar">
        <div class="navbuttons">
            <form class="navbarform">
                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Buduci aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/PastAranzmani" formmethod="post">Raniji aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/SmestajneJed" formmethod="post">Smestajne jedinice</button>
                <button class="navbutton" type="submit" formaction="~/Home/Komentari" formmethod="post">Komentari</button>

                <div class="dropdown">
                    <button class="dropbtn" disabled>Moj profil</button>
                    <div class="dropdown-content">
                        <a href="~/Home/Rezervacije">Moje rezervacije</a>
                        <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                    </div>
                </div>
                <button class="navbutton" type="submit" formaction="~/Authentication/LogOut" formmethod="post">Logout</button>

            </form>
        </div>
    </div>

    <div id="main">
        <br />
        <br />
        @if (Model.Count() == 0 && ViewBag.Change == null)
        {
            <p>Nemate aktivnih rezervacija u ovom trenutku</p>
            <p>Pogledajte nasu ponudu i pronadjite sebi odgovarajuce putovanje</p>
        }
        else
        {
            <h2>Istorija rezervacija:</h2>
            <button type="button" id="navBtn" class="openbtn" onclick="openNav()"> &#129170; Prikazi filtere</button>
            <div id="mySidebar" class="sidebar">
                <form name="search" style="margin-left:5px;" action="~/Home/SearchRezervacije" method="post" onsubmit="return checkSearch(event)">
                    <table class="searchHomeIndex">
                        <tr>
                            <td>
                                <cetnter>Pretraga rezervacija:</cetnter>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="errmsg" class="error-msg-smaller">
                                    @ViewBag.ErrMsg
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="naziv" value="Naziv aranzmana" id="naziv" onblur="poljeLostFocus()" onfocus="poljeOnFocus()" />
                            </td>
                        </tr>
                        <tr>
                            <td>Pocetak:</td>
                        </tr>
                        <tr>
                            <td>Od:<input type="date" style="width:145px" name="pocOd" id="pocOd" /></td>
                        </tr>
                        <tr>
                            <td>Do:<input type="date" style="width:145px" name="pocDo" id="pocDo" /></td>
                        </tr>
                        <tr>
                            <td>
                                <select name="tip">
                                    <option value="">Tip smestaja</option>
                                    <option value="HOTEL">Hotel</option>
                                    <option value="MOTEL">Motel</option>
                                    <option value="VILA">Vila</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Broj osoba:</td>
                        </tr>
                        <tr>
                            <td>
                                Od:<input type="number" name="brOd" id="brOd" min="0" step="1" />
                                Do:<input type="number" name="brDo" id="brDo" min="0" step="1" />
                            </td>
                        </tr>
                        <tr>
                            <td>Cena:</td>
                        </tr>
                        <tr>
                            <td>Od:<input type="number" name="cenaOd" id="cenaOd" min="0" step="1" />Do:<input type="number" name="cenaDo" id="cenaDo" min="0" step="1" /></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" style="float: right;" class="sidebarSubmit" value="Pretraga" />
                                <button formaction="~/Home/ClearRezervacije" style="float: left;" class="sidebarSubmit" formmethod="post">Ponisti filtere</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

            

            <div class="sortHomeIndex">
                <form action="~/Home/SortRezervacije" method="post" onsubmit="return checkSort(event)">
                    Sortiranje:<select name="selectSort" id="select" style="width:auto;padding:3px;font-size: 20px;">
                        <option value="hron">Hronoloski</option>
                        <option value="name">Imenu aranzmana</option>
                        <option value="date">Datumu polaska</option>
                        <option value="price">Ceni aranzmana</option>
                    </select>
                    <select name="type"  style="width:auto;padding:3px;font-size: 20px;">
                        <option value="a">Rastuce</option>
                        <option value="d">Opadajuce</option>
                    </select>
                    <input type="submit" class="btn rounded" style="padding:4px;" value="Sortiraj" />
                </form>
            </div>

            if (Model.Count() > 0)
            {
                <table align="center" cellpadding="0" cellspacing="0" style="margin-top:15px;text-align: center;padding: 5px;">
                    <tr>
                        <th class="smestaj">Aranzman</th>
                        <th class="smestaj">Pocetak</th>
                        <th class="smestaj">Kraj</th>
                        <th class="smestaj">Smestaj</th>
                        <th class="smestaj">Smestajna jedinica</th>
                        <th class="smestaj">Ukupna cena</th>
                        <th class="smestaj">Status</th>
                    </tr>
                    @{ int br = 0;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Aranzman.Naziv</td>
                            <td>@item.Aranzman.DatumPocetka.ToString("dd.MM.yyyy")</td>
                            <td>@item.Aranzman.DatumZavrsetka.ToString("dd.MM.yyyy")</td>
                            @if (item.Aranzman.Smestaj.Tip == TipSmestaja.HOTEL)
                            {
                                <td>Hotel @item.Aranzman.Smestaj.Naziv</td>
                            }
                            @if (item.Aranzman.Smestaj.Tip == TipSmestaja.MOTEL)
                            {
                                <td>Motel @item.Aranzman.Smestaj.Naziv</td>
                            }
                            @if (item.Aranzman.Smestaj.Tip == TipSmestaja.VILA)
                            {
                                <td>Vila @item.Aranzman.Smestaj.Naziv</td>
                            }
                            @if (item.Smestaj.PetFriendly)
                            {
                                if (item.Smestaj.MaxGostiju == 1 || item.Smestaj.MaxGostiju >= 5)
                                {
                                    <td>@item.Smestaj.MaxGostiju osoba petfriendly</td>
                                }
                                else
                                {
                                    <td>@item.Smestaj.MaxGostiju osobe petfriendly</td>
                                }
                            }
                            else
                            {
                                if (item.Smestaj.MaxGostiju == 1 || item.Smestaj.MaxGostiju >= 5)
                                {
                                    <td>@item.Smestaj.MaxGostiju osoba not petfriendly</td>
                                }
                                else
                                {
                                    <td>@item.Smestaj.MaxGostiju osobe not petfriendly</td>
                                }
                            }
                                    <td>@((item.Aranzman.DatumZavrsetka - item.Aranzman.DatumPocetka).TotalDays * item.Smestaj.Cena)&#8364;</td>
                            @if (item.Status == Status.AKTIVNA)
                            {
                                <td>Aktivna</td>
                                <td>
                                    <form method="post" action="~/Home/Otkazi">
                                        <input type="hidden" value="@(br.ToString())" name="indexRez" />
                                        <input type="submit" class="btn rounded" style="padding:5px;" value="Otkazi" />
                                    </form>
                                </td>
                            }
                            @if (item.Status == Status.OTKAZANA)
                            {
                                <td>Otkazana</td>
                                <td></td>
                            }
                            @if (item.Status == Status.ZAVRSENA)
                            {
                                <td>Zavrsena</td>
                                if (!ViewBag.Komentarisane.Contains(item.Id))
                                {
                                    <td><button type="submit" class="btn rounded" style="padding:5px;" value="@br" onclick="return showKomentarRow(@br.ToString())">Komentarisi</button></td>
                                }
                            }
                        </tr>
                        <tr id="tr_@br" style="display:none;">
                            <td colspan="6" style="padding:3px;">
                                <form method="post" action="~/Home/Komentarisi" onsubmit="return checkKom(event, @br.ToString())">
                                    <input type="hidden" value="@item.Id" name="idRez" />
                                    Komentar:<input type="text" name="tekst" id="tekst_@br" style="font-size: 20px;padding:2px;"/>
                                    Ocena:<input type="number" name="ocena" id="ocena_@br" step="0.1" min="0" max="5" style="font-size: 20px;padding:2px;" />
                                    <input type="submit" class="btn rounded" style="padding:3px;" value="Dodaj komentar" />
                                    <button type="submit" value="@br" class="btn rounded" style="padding:3px;vertical-align:central;" onclick="return hideKomentarRow(@br.ToString())">Odustani</button>
                                </form>
                            </td>
                        </tr>
                        br++;
                    }
                </table>
            }
            else
            {
                <p>Nema podudaranja</p>
            }
                
          
        }

            
    </div>
</body>
</html>
