﻿@using PR62_2018_TuristickaAgencija.Models
@model IEnumerable<Smestaj>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/smestajnejed.css" rel="stylesheet" type="text/css" />
    <title>Smestajne jedinice</title>
    <script>
        function check(event) {
            var result = true;

            if (event.submitter.value != "Pretraga")
                return true;

            if (document.getElementById("donjaGranica").value != "" && document.getElementById("gornjaGranica").value != "") {
                var min = parseInt(document.getElementById("donjaGranica").value);
                var max = parseInt(document.getElementById("gornjaGranica").value);

                if (min > max) {
                    result = false;
                    document.getElementById("donjaGranica").style.borderColor = "red";
                    document.getElementById("gornjaGranica").style.borderColor = "red";
                    document.getElementById("errmsg").innerHTML = "Donja granica ne moze biti veca od gornje";
                }
            }



            if (document.getElementById("cenaOd").value != "" && document.getElementById("cenaDo").value != "") {
                min = parseInt(document.getElementById("cenaOd").value);
                max = parseInt(document.getElementById("cenaDo").value);

                if (min > max) {
                    result = false;
                    document.getElementById("cenaOd").style.borderColor = "red";
                    document.getElementById("cenaDo").style.borderColor = "red";
                    document.getElementById("errmsg").innerHTML = "Donja granica ne moze biti veca od gornje";
                }
            }

            return result;
        }

        function sortEl(event) {

            if (document.getElementById("sort").value == "") {
                document.getElementById("sort").style.borderColor = "red";
                return false;
            }
            else
                return true;
        }

        function validateLogin(event) {
            var result = true;
            var errmsg = document.getElementById("error-msg").innerHTML;

            if (document.getElementById("username").value == "") {
                document.getElementById("username").focus();
                document.getElementById("username").style.borderColor = "red";
                document.getElementById("error-msg").innerHTML = "Popunite sva polja oznacena *";
                result = false;
            } else {
                document.getElementById("username").style.borderColor = "green";
            }

            if (document.getElementById("password").value == "") {
                if (result == true) {
                    document.getElementById("password").focus();
                    document.getElementById("error-msg").innerHTML = "Popunite sva polja oznacena *";
                }
                document.getElementById("password").style.borderColor = "red";
                result = false;
            } else {
                document.getElementById("password").style.borderColor = "green";
            }

            return result;
        }

        function openNav() {
            if (document.getElementById("mySidebar").style.width == "200px") {
                closeNav();
                return;
            }
            document.getElementById("mySidebar").style.width = "200px";
            document.getElementById("main").style.marginLeft = "200px";
            document.getElementById("nav").style.marginLeft = "200px";
            document.getElementById("navBtn").innerHTML = " &#129168; Sakrij filtere";

        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("nav").style.marginLeft = "0";
            document.getElementById("navBtn").innerHTML = " &#129170; Prikazi filtere";
        }

    </script>
</head>
<body>

    <div id="nav" class="navbar">
        <div class="navbuttons">
            <form class="navbarform">
                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Buduci aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/PastAranzmani" formmethod="post">Raniji aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/SmestajneJed" formmethod="post">Smestajne jedinice</button>
                <button class="navbutton" type="submit" formaction="~/Home/Komentari" formmethod="post">Komentari</button>


                @if (ViewBag.User.Uloga == Uloga.GUEST)
                {
                    <a class="navbutton" href="#Login" style="text-decoration:none;">LogIn</a>
                }
                else
                {
                    if (ViewBag.User.Uloga == Uloga.TURISTA)
                    {
                        <div class="dropdown">
                            <button class="dropbtn" disabled>Moj profil</button>
                            <div class="dropdown-content">
                                <a href="~/Home/Rezervacije">Moje rezervacije</a>
                                <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                            </div>
                        </div>
                    }
                    if (ViewBag.User.Uloga == Uloga.MENADZER)
                    {
                        <div class="dropdown">
                            <button class="dropbtn" disabled>Moj profil</button>
                            <div class="dropdown-content">
                                <a href="~/Manager/Index">Moji aranzmani</a>
                                <a href="~/Manager/Smestaji">Smestaji</a>
                                <a href="~/Manager/Rezervacije">Rezervacije</a>
                                <a href="~/Manager/NoviAranzman">Kreiraj aranzman</a>
                                <a href="~/Manager/NoviSmestaj">Kreiraj smestaj</a>
                                <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                            </div>
                        </div>
                    }
                    if (ViewBag.User.Uloga == Uloga.ADMINISTRATOR)
                    {
                        <div class="dropdown">
                            <button class="dropbtn" disabled>Moj profil</button>
                            <div class="dropdown-content">
                                <a href="~/Administrator/Index">Korisnici</a>
                                <a href="~/Administrator/SumnjiviTuristi">Sumnjivi turisti</a>
                                <a href="~/Administrator/NoviManager">Dodaj novog menadzera</a>
                                <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                            </div>
                        </div>
                    }
                    <button class="navbutton" type="submit" formaction="~/Authentication/LogOut" formmethod="post">Logout</button>
                }
            </form>
        </div>
    </div>

    <div id="main">
        <div id="Login" class="overlay">
            <div class="popup">
                <div class="login">
                    <form name="login" action="~/Home/LogIn" method="post" onsubmit="return validateLogin(event)">
                        <center><p class="title">Log in</p></center>
                        <div class="error-msg" id="error-msg">
                            @if (ViewBag.Message != null)
                            {
                                <p>@ViewBag.Message</p>
                            }
                        </div>
                        <p class="titles">Korisnicko ime* :</p>
                        <input class="login" type="text" name="username" id="username" />
                        <p class="titles">Lozinka* :</p>
                        <input class="login" type="password" name="password" id="password" />
                        <input type="submit" class="login" value="Log in" />
                        <center><p class="paragraflogin"><a class="paragraflogin" href="#Login.close">Nastavi kao gost</a> ili se <a class="paragraflogin" href="~/Authentication/Index">registruj</a> da bi koristio nase usluge</p></center>
                    </form>
                </div>
            </div>
        </div>

        <div>
            <br />
            <br />
            <h2>Smestajne jedinice</h2>
        </div>

        <button type="button" id="navBtn" class="openbtn" onclick="openNav()"> &#129170; Prikazi filtere</button>
        <div id="mySidebar" class="sidebar">
            <form method="post" action="~/Home/SearchSmestajneJedinice" onsubmit="return check(event)">
                <table class="search">
                    <tr>
                        <td>Pretraga smestajnih jednica:</td>
                    </tr>
                    <tr>
                        <td>
                            <div id="errmsg">
                                @ViewBag.ErrMsg
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Donja granica za dozvoljen broj gostiju:</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="number" name="donjaGranica" id="donjaGranica" min="0" />
                        </td>
                    </tr>
                    <tr>
                        <td>Gornja granica za dozvoljen broj gostiju:</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="number" name="gornjaGranica" id="gornjaGranica" min="0" />
                        </td>
                    </tr>
                    <tr>
                        <td>Dozvoljen boravak kucnim ljubimcima:</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" value="Da" name="ljubimci" id="ljubimci" /> Da
                            <input type="radio" value="Na" name="ljubimci" id="ljubimci" />Ne
                        </td>
                    </tr>
                    <tr>
                        <td>Cena za celu smestajnu jedinicu:</td>
                    </tr>
                    <tr>
                        <td>
                            Od:<input type="number" name="cenaOd" id="cenaOd" min="0" />
                            Do:<input type="number" name="cenaDo" id="cenaDo" min="0" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="sidebarSubmit" value="Pretraga" style="float: right;" />
                            <button formaction="~/Home/ClearSmestajneJed" class="sidebarSubmit" formmethod="post" name="clear" style="float: left;">Ponisti filtere</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="sort">
            <form action="~/Home/SortSmestajneJed" method="post" onsubmit="return sortEl(event)">
                <table class="sort">
                    <tr>
                        <td>Sortiraj po:</td>
                        <td>
                            <select class="sort" name="sort" id="sort">
                                <option value=""></option>
                                <option value="brGostijuRastuce">Dozvoljen broj gostiju rastuce</option>
                                <option value="brGostijuOpadaju">Dozvoljen broj gostiju opadajuce</option>
                                <option value="cenaRastuce">Cena za celu smestajnu jedinicu rastuce</option>
                                <option value="cenaOpadaju">Cena za celu smestajnu jedinicu opadajuce</option>
                            </select>
                        </td>
                        <td>
                            <input type="submit" class="btn rounded" value="Sortiraj" />
                        </td>
                    </tr>

                </table>
            </form>
        </div>

        <div>
            @if (Model.Count() == 0)
            {
                <p>Trenutno nema smestajnih jedinica</p>
            }
            else
            {
                List<Tuple<int, int>> removable = new List<Tuple<int, int>>();
                if (ViewBag.User.Uloga == Uloga.MENADZER)
                {
                    if (ViewBag.Brisanje != "")
                    {
                        List<string> temp = new List<string>(ViewBag.Brisanje.Split(','));
                        foreach (var item in temp)
                        {
                            if (item == "")
                            {
                                continue;
                            }

                            removable.Add(new Tuple<int, int>(Convert.ToInt32(item.Split('|')[0]), Convert.ToInt32(item.Split('|')[1])));
                        }
                    }
                }
                int brSmestaj = 0;
                int brJed = 0;
                bool buttonNotShown = true;

                <table class="tablediv" cellpadding="0" cellspacing="0">
                    @foreach (var smestaj in Model)
                    {
                        if (smestaj.Active)
                        {
                    <tr class="smestaj">
                        <td class="smestaj" style="font-weight:bold;">@smestaj.Tip</td>
                        <td class="smestaj" style="font-weight:bold;">@smestaj.Naziv</td>
                        @if (ViewBag.User.Uloga == Uloga.MENADZER)
                        {
                            <td class="smestaj">
                                <form action="~/Home/AddSmestajnaJedinica" method="post">
                                    <input type="hidden" value="@brSmestaj" name="idSmestaj" />
                                    <input type="submit" class="btn rounded" style="padding:5px;" value="Dodaj novu smestajnu jedinicu" />
                                </form>
                            </td>
                        }
                        else
                        {
                            <td class="smestaj">&nbsp;</td>
                        }
                        <td class="smestaj">&nbsp;</td>
                        @if (ViewBag.User.Uloga == Uloga.MENADZER)
                        {
                            <td class="smestaj">&nbsp;</td>
                            <td class="smestaj">&nbsp;</td>
                        }
                    </tr>
                            brJed = 0;
                            foreach (var jedinica in smestaj.SmestajneJedinice)
                            {
                                buttonNotShown = true;
                                if (jedinica.Active)
                                {
                                    <tr>
                                        <td>Smestajna jedinica @(ViewBag.Smestaji[brSmestaj].SmestajneJedinice.IndexOf(jedinica) + 1)</td>
                                        <td>Maksimalno gostiju: @jedinica.MaxGostiju</td>
                                        @if (jedinica.PetFriendly)
                                        {
                                            <td>Jeste petfriendly</td>
                                        }
                                        else
                                        {
                                            <td>Nije petfriendly</td>
                                        }
                                        <td>Cena: @jedinica.Cena</td>
                                        @if (ViewBag.User.Uloga == Uloga.MENADZER)
                                        {
                                            <td style="padding-top:3px;padding-bottom:3px;">
                                                <form action="~/Home/ChangeSmestajnaJedinica" method="post">
                                                    <input type="hidden" value="@(brSmestaj.ToString() + "|" + brJed.ToString())" name="indexi" />
                                                    <input type="submit" class="btn rounded" style="padding:4px;" value="Izmeni" />
                                                </form>
                                            </td>
                                            foreach (var par in removable)
                                            {
                                                if (par.Item1 == brSmestaj && par.Item2 == brJed)
                                                {
                                                    <td>
                                                        <form action="~/Home/DelSmestajanaJedinica" method="post">
                                                            <input type="submit" class="btn rounded" value="Obrisi" style="padding:5px;background-color:red;color:black;" disabled />
                                                        </form>
                                                    </td>
                                                    buttonNotShown = false;
                                                    break;
                                                }
                                            }
                                            if (buttonNotShown)
                                            {
                                                <td>
                                                    <form action="~/Manager/DelSmestajnaJed" method="post">
                                                        <input type="hidden" value="@(brSmestaj.ToString() + "|" + brJed.ToString())" name="indexi" />
                                                        <input type="submit" class="btn rounded" style="padding:4px;" value="Obrisi" />
                                                    </form>
                                                </td>
                                            }

                                        }
                                    </tr>
                                }
                                brJed++;
                            }
                        }
                        brSmestaj++;
                    }

                </table>
            }
        </div>
    </div>
</body>
</html>
