﻿@using PR62_2018_TuristickaAgencija.Models
@model IEnumerable<User>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/smestajnejed.css" rel="stylesheet" type="text/css" />
    <title>Index</title>
    <script>
        function openNav() {
            if (document.getElementById("mySidebar").style.width == "200px") {
                closeNav();
                return;
            }
            document.getElementById("mySidebar").style.width = "200px";
            document.getElementById("main").style.marginLeft = "200px";
            document.getElementById("nav").style.marginLeft = "200px";
            document.getElementById("navBtn").innerHTML = " &#129168; Sakrij filtere";

        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("nav").style.marginLeft = "0";
            document.getElementById("navBtn").innerHTML = " &#129170; Prikazi filtere";
        }
    </script>
    <style>
        tr td {
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="navbar" id="nav">
        <div class="navbuttons">
            <form class="navbarform">
                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Buduci aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/PastAranzmani" formmethod="post">Raniji aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/SmestajneJed" formmethod="post">Smestajne jedinice</button>
                <button class="navbutton" type="submit" formaction="~/Home/Komentari" formmethod="post">Komentari</button>

                <div class="dropdown">
                    <button class="dropbtn" disabled>Moj profil</button>
                    <div class="dropdown-content">
                        <a href="~/Administrator/Index">Korisnici</a>
                        <a href="~/Administrator/SumnjiviTuristi">Sumnjivi turisti</a>
                        <a href="~/Administrator/NoviManager">Dodaj novog menadzera</a>
                        <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                    </div>
                </div>

            <button class="navbutton" type="submit" formaction="~/Authentication/LogOut" formmethod="post">Logout</button>

            </form>
        </div>
    </div>
    <div>
        <br />
        <br />
    </div>
    
    <div id="main">
        <h2>Aktivni korisnici sistema:</h2>
        <button type="button" id="navBtn" class="openbtn" onclick="openNav()"> &#129170; Prikazi filtere</button>
        <div id="mySidebar" class="sidebar">
            <h3 style="padding-left:5px;">Pretraga:</h3>
            <form action="~/Administrator/Search" method="post" style="padding-left:5px;">
                <table class="search">
                    <tr>
                        <td>Ime:</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" value="" name="firstName" style="width:95%"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Prezime:</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" value="" name="lastName" style="width:95%"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Uloga:</td>
                    </tr>
                    <tr>
                        <td>
                            <select name="uloga" style="width:100%">
                                <option value=""></option>
                                <option value="TURISTA">TURISTA</option>
                                <option value="MENADZER">MENADZER</option>
                                <option value="ADMINISTRATOR">ADMINISTRATOR</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="sidebarSubmit" value="Pretrazi" style="float: right;"/>
                            <button type="submit" class="sidebarSubmit" style="float: left;" formaction="~/Administrator/Clear" formmethod="post">Ponisti filtere</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="sort">
            <form action="/Administrator/Sort" method="post">
                <table class="sort">
                    <tr>
                        <td>Sortiraj po:</td>
                        <td>
                            <select name="polje" class="sort">
                                <option value="firstName">Imenu</option>
                                <option value="lastName">Prezimenu</option>
                                <option value="uloga">Ulozi</option>
                            </select>
                        </td>
                        <td>
                            <select name="type" class="sort">
                                <option value="a">Rastuce</option>
                                <option value="d">Opadajuce</option>
                            </select>
                        </td>
                        <td>
                            <input type="submit" class="btn rounded" value="Sortiraj" />
                        </td>
                    </tr>

                </table>
            </form>
        </div>

        <div>
            @if (Model.Count() > 0)
            {
                <table class="tablediv" style="margin-top:20px;" cellpadding="0" cellspacing="0">
                    <tr>
                        <th class="smestaj">Korisnicko ime</th>
                        <th class="smestaj">Ime i prezime</th>
                        <th class="smestaj">Pol</th>
                        <th class="smestaj">Kontakt</th>
                        <th class="smestaj">Uloga</th>
                    </tr>
                    @foreach (var user in Model)
                    {
                        if (user.Active == true)
                        {
                            <tr>
                                <td>@user.Username</td>
                                <td>@user.FirstName @user.LastName</td>
                                <td>@user.Pol</td>
                                <td>@user.Email</td>
                                <td>@user.Uloga</td>
                            </tr>
                        }
                    }
                </table>
            }
            else
            {
                <p>Nema podudaranja sa pretragom.</p>
            }
        </div>
    </div>
</body>
</html>
