﻿@using PR62_2018_TuristickaAgencija.Models
@model IEnumerable<User>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/smestajnejed.css" rel="stylesheet" type="text/css" />
    <title>SumnjiviTuristi</title>
    <style>
        tr td {
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <div class="navbuttons">
            <form class="navbarform">
                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Buduci aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/PastAranzmani" formmethod="post">Raniji aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/SmestajneJed" formmethod="post">Smestajne jedinice</button>
                <button class="navbutton" type="submit" formaction="~/Home/Komentari" formmethod="post">Komentari</button>

                <div class="dropdown">
                    <button class="dropbtn" disabled>Moj profil</button>
                    <div class="dropdown-content">
                        <a href="~/Administrator/Index">Korisnici</a>
                        <a href="~/Administrator/SumnjiviTuristi">Sumnjivi turisti</a>
                        <a href="~/Administrator/NoviManager">Dodaj novog menadzera</a>
                        <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                    </div>
                </div>

                <button class="navbutton" type="submit" formaction="~/Authentication/LogOut" formmethod="post">Logout</button>

            </form>
        </div>
    </div>
    <div>
        <br />
        <br />
    </div>

    <div>
        <h2>Sumnjivi truristi:</h2>
        @if (Model.Count() > 0)
        {
            <table class="tablediv" cellpadding="0" cellspacing="0">
                <tr>
                    <th class="smestaj">Korisnicko<br />ime</th>
                    <th class="smestaj">Ime i prezime</th>
                    <th class="smestaj">Pol</th>
                    <th class="smestaj">Kontakt</th>
                    <th class="smestaj">Uloga</th>
                    <th class="smestaj">&nbsp;</th>
                </tr>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Username</td>
                        <td>@user.FirstName @user.LastName</td>
                        <td>@user.Pol</td>
                        <td>@user.Email</td>
                        <td>@user.Uloga</td>
                        <td>
                            <form action="~/Administrator/Blokiraj" method="post">
                                <input type="hidden" value="@user.Username" name="username"/>
                                <input type="submit" value="Blokiraj korisnika" class="btn rounded"/>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>Nema turista sa 2 ili vise otkazanih rezervacija.</p>
        }
    </div>
</body>
</html>
