﻿@using PR62_2018_TuristickaAgencija.Models
@model IEnumerable<Aranzman>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/homeIndex.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/smestajnejed.css" rel="stylesheet" type="text/css" />
    <title>Uredjivanje aranzmana</title>
    <script>
        function check(event) {
            var result = true;

            if (event.submitter.value != "Pretraga")
                return true;

            var pocMin, pocMax, zavMin, zavMax;

            if (document.getElementById("pocetakMin").value != "" && document.getElementById("pocetakMax").value != "") {
                pocMin = document.getElementById("pocetakMin").value.split("-");
                pocMax = document.getElementById("pocetakMax").value.split("-");
                if (parseInt(pocMin[0]) > parseInt(pocMax[0]) || parseInt(pocMin[1]) > parseInt(pocMax[1])) {
                    document.getElementById("errmsg").innerHTML = "Datum od kog se uporedjuje ne moze biti veci od onog do kog se uporedjuje";
                    document.getElementById("pocetakMin").style.borderColor = "red";
                    document.getElementById("pocetakMax").style.borderColor = "red";
                    result = false;
                }

                if (parseInt(pocMin[1]) == parseInt(pocMax[1]) && parseInt(pocMin[2]) > parseInt(pocMax[2])) {
                    document.getElementById("errmsg").innerHTML = "Datum od kog se uporedjuje ne moze biti veci od onog do kog se uporedjuje";
                    document.getElementById("pocetakMin").style.borderColor = "red";
                    document.getElementById("pocetakMax").style.borderColor = "red";
                    result = false;
                }
            }

            if (document.getElementById("zavrsetakMin").value != "" && document.getElementById("zavrsetakMax").value != "" && result) {
                zavMin = document.getElementById("zavrsetakMin").value.split("-");
                zavMax = document.getElementById("zavrsetakMax").value.split("-");
                if (parseInt(zavMin[0]) > parseInt(zavMax[0]) || parseInt(zavMin[1]) > parseInt(zavMax[1])) {
                    document.getElementById("errmsg").innerHTML = "Datum od kog se uporedjuje ne moze biti veci od onog do kog se uporedjuje";
                    document.getElementById("zavrsetakMin").style.borderColor = "red";
                    document.getElementById("zavrsetakMax").style.borderColor = "red";
                    result = false;
                }
                if (parseInt(zavMin[1]) == parseInt(zavMax[1]) && parseInt(zavMin[2]) > parseInt(zavMax[2])) {
                    document.getElementById("errmsg").innerHTML = "Datum od kog se uporedjuje ne moze biti veci od onog do kog se uporedjuje";
                    document.getElementById("zavrsetakMin").style.borderColor = "red";
                    document.getElementById("zavrsetakMax").style.borderColor = "red";
                    result = false;
                }
            }

            if (document.getElementById("pocetakMin").value != "" && document.getElementById("zavrsetakMin").value != "" && result) {
                pocMin = document.getElementById("pocetakMin").value.split("-");
                zavMin = document.getElementById("zavrsetakMin").value.split("-");
                if (parseInt(pocMin[0]) > parseInt(zavMin[0]) || parseInt(pocMin[1]) > parseInt(zavMin[1])) {
                    document.getElementById("errmsg").innerHTML = "Datum pocetka ne moze biti veci od datuma zavrsetka";
                    document.getElementById("pocetakMin").style.borderColor = "red";
                    document.getElementById("zavrsetakMin").style.borderColor = "red";
                    result = false;
                }
                if (parseInt(pocMin[1]) == parseInt(zavMin[1]) && parseInt(pocMin[2]) > parseInt(zavMin[2])) {
                    document.getElementById("errmsg").innerHTML = "Datum pocetka ne moze biti veci od datuma zavrsetka";
                    document.getElementById("pocetakMin").style.borderColor = "red";
                    document.getElementById("zavrsetakMin").style.borderColor = "red";
                    result = false;
                }
            }

            if (document.getElementById("pocetakMax").value != "" && document.getElementById("zavrsetakMin").value != "" && result) {
                pocMax = document.getElementById("pocetakMax").value.split("-");
                zavMin = document.getElementById("zavrsetakMin").value.split("-");
                if (parseInt(pocMax[0]) > parseInt(zavMin[0]) || parseInt(pocMax[1]) > parseInt(zavMin[1])) {
                    document.getElementById("errmsg").innerHTML = "Datum pocetka ne moze biti veci od datuma zavrsetka";
                    document.getElementById("pocetakMax").style.borderColor = "red";
                    document.getElementById("zavrsetakMin").style.borderColor = "red";
                    result = false;
                }
                if (parseInt(pocMax[1]) == parseInt(zavMin[1]) && parseInt(pocMax[2]) > parseInt(zavMin[2])) {
                    document.getElementById("errmsg").innerHTML = "Datum pocetka ne moze biti veci od datuma zavrsetka";
                    document.getElementById("pocetakMin").style.borderColor = "red";
                    document.getElementById("zavrsetakMin").style.borderColor = "red";
                    result = false;
                }
            }

            if (document.getElementById("pocetakMin").value != "" && document.getElementById("zavrsetakMax").value != "" && result) {
                pocMin = document.getElementById("pocetakMin").value.split("-");
                zavMax = document.getElementById("zavrsetakMax").value.split("-");
                if (parseInt(pocMin[0]) > parseInt(zavMax[0]) || parseInt(pocMin[1]) > parseInt(zavMax[1])) {
                    document.getElementById("errmsg").innerHTML = "Datum pocetka ne moze biti veci od datuma zavrsetka";
                    document.getElementById("pocetakMin").style.borderColor = "red";
                    document.getElementById("zavrsetakMax").style.borderColor = "red";
                    result = false;
                }
                if (parseInt(pocMin[1]) == parseInt(zavMax[1]) && parseInt(pocMin[2]) > parseInt(zavMax[2])) {
                    document.getElementById("errmsg").innerHTML = "Datum pocetka ne moze biti veci od datuma zavrsetka";
                    document.getElementById("pocetakMin").style.borderColor = "red";
                    document.getElementById("zavrsetakMax").style.borderColor = "red";
                    result = false;
                }
            }

            if (document.getElementById("pocetakMax").value != "" && document.getElementById("zavrsetakMax").value != "" && result) {
                pocMax = document.getElementById("pocetakMax").value.split("-");
                zavMax = document.getElementById("zavrsetakMax").value.split("-");
                if (parseInt(pocMax[0]) > parseInt(zavMax[0]) || parseInt(pocMax[1]) > parseInt(zavMax[1])) {
                    document.getElementById("errmsg").innerHTML = "Datum pocetka ne moze biti veci od datuma zavrsetka";
                    document.getElementById("pocetakMax").style.borderColor = "red";
                    document.getElementById("zavrsetakMax").style.borderColor = "red";
                    result = false;
                }
                if (parseInt(pocMax[1]) == parseInt(zavMax[1]) && parseInt(pocMax[2]) > parseInt(zavMax[2])) {
                    document.getElementById("errmsg").innerHTML = "Datum pocetka ne moze biti veci od datuma zavrsetka";
                    document.getElementById("pocetakMin").style.borderColor = "red";
                    document.getElementById("zavrsetakMax").style.borderColor = "red";
                    result = false;
                }
            }

            if (document.getElementById("naziv").value == "Naziv aranzmana") {
                document.getElementById("naziv").value = "";
            }

            return result;
        }

        function poljeOnFocus() {
            if (document.getElementById("naziv").value == "Naziv aranzmana") {
                document.getElementById("naziv").value = "";
            }
        }

        function poljeLostFocus() {
            if (document.getElementById("naziv").value == "" || document.getElementById("naziv").value.trim() == "") {
                document.getElementById("naziv").value = "Naziv aranzmana";
            }
        }

        function openNav() {
            if (document.getElementById("mySidebar").style.width == "200px") {
                closeNav();
                return;
            }
            document.getElementById("mySidebar").style.width = "200px";
            document.getElementById("main").style.marginLeft = "200px";
            document.getElementById("nav").style.marginLeft = "200px";
            document.getElementById("navBtn").innerHTML = " &#129168; Sakrij filtere";

        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("nav").style.marginLeft = "0";
            document.getElementById("navBtn").innerHTML = " &#129170; Prikazi filtere";
        }

    </script>
</head>
<body>

    <div class="navbar" id="nav">
        <div class="navbuttons">
            <form class="navbarform">
                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Buduci aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/PastAranzmani" formmethod="post">Raniji aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/SmestajneJed" formmethod="post">Smestajne jedinice</button>
                <button class="navbutton" type="submit" formaction="~/Home/Komentari" formmethod="post">Komentari</button>
                <div class="dropdown">
                    <button class="dropbtn" disabled>Moj profil</button>
                    <div class="dropdown-content">
                        <a href="~/Manager/Index">Moji aranzmani</a>
                        <a href="~/Manager/Smestaji">Smestaji</a>
                        <a href="~/Manager/Rezervacije">Rezervacije</a>
                        <a href="~/Manager/NoviAranzman">Kreiraj aranzman</a>
                        <a href="~/Manager/NoviSmestaj">Kreiraj smestaj</a>
                        <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                    </div>
                </div>
                <button class="navbutton" type="submit" formaction="~/Authentication/LogOut" formmethod="post">Logout</button>
            </form>
        </div>
    </div>

    <div>
        <br />
        <br />
    </div>
    
    <div id="main">
        <h2>Moji aranzmani:</h2>
        <button type="button" id="navBtn" class="openbtn" onclick="openNav()"> &#129170; Prikazi filtere</button>
        <div id="mySidebar" class="sidebar">
            <form name="search" action="~/Manager/Search" method="post" onsubmit="return check(event)">
                <table class="searchHomeIndex">
                    <tr>
                        <td style="justify-content:center">
                            <cetnter>Pretraga aranzmana:</cetnter>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="errmsg" class="error-msg-smaller">
                                @ViewBag.ErrMsg
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="naziv" value="Naziv aranzmana" id="naziv" onblur="poljeLostFocus()" onfocus="poljeOnFocus()" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="tipPrevoza" name="prevoz" value="">
                                <option value="">Tip prevoza</option>
                                <option value="Autobus">Autobus</option>
                                <option value="Avion">Avion</option>
                                <option value="AutobusIAvion">Autobus + avion</option>
                                <option value="Individualan">Individualan</option>
                                <option value="ostalo">Ostalo</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="tipAranzmana" name="tipAranzmana">
                                <option value="">Tip aranzmana</option>
                                <option value="NocenjeSaDoruckom">Nocenje sa doruckom</option>
                                <option value="Polupansion">Polupansion</option>
                                <option value="PunPansion">Pun pansion</option>
                                <option value="AllInclusive">All inclusive</option>
                                <option value="NajamApartmana">Najam apartmana</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Datum pocetka putovanja:</td>
                    </tr>
                    <tr>
                        <td>Od: <input type="date" name="pocetakMin" id="pocetakMin" /></td>
                    </tr>
                    <tr>
                        <td>
                            Do: <input type="date" name="pocetakMax" id="pocetakMax" />
                        </td>
                    </tr>
                    <tr>
                        <td>Datum zavrsetka putovanja:</td>
                    </tr>
                    <tr>
                        <td>Od: <input type="date" name="zavrsetakMin" id="zavrsetakMin" /></td>
                    </tr>
                    <tr>
                        <td>Do: <input type="date" name="zavrsetakMax" id="zavrsetakMax" /></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" style="float: right;" class="sidebarSubmit" value="Pretraga" />
                            <button formaction="~/Manager/Clear" formmethod="post" class="sidebarSubmit" name="clear" value="@ViewBag.Aranzmani" style="float: left;">Ponisti filtere</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="sortHomeIndex">
            <form action="~/Manager/Sort" method="post">
                <table class="sortHomeIndex">
                    <tr>
                        <td>
                            Sortiranje:&nbsp;
                        </td>
                        <td>
                            <select class="sortHomeIndex" name="sort">
                                <option value="naziv">Naziv</option>
                                <option value="datumpocetka">Datum pocetka putovanja</option>
                                <option value="datumzavrsetka">Datum zavrsetka putovanja</option>
                            </select>
                        </td>
                        <td>
                            <select class="sortHomeIndex" name="type">
                                <option value="a">Rastuce</option>
                                <option value="d">Opadajuce</option>
                            </select>
                        </td>
                        <td>
                            <input type="submit" class="btn rounded" value="Sortiraj" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div>
            @if (Model.Count() == 0)
            {
                <p>Nema odgovarajucih aranzmana</p>
            }
            else
            {
                <table class="tablediv tableAranzmani" style="margin-top:20px;" cellpadding="0" cellspacing="0">
                    <tr>
                        <th class="smestaj">Aranzman</th>
                        <th class="smestaj">Pocetak</th>
                        <th class="smestaj">Smestaj</th>
                        <th class="smestaj">Poster</th>
                        <th class="smestaj">Cena od</th>
                        <th class="smestaj">&nbsp;</th>
                        <th class="smestaj">&nbsp;</th>
                    </tr>
                    @{ int br = 0;}
                    @foreach (var item in Model)
                    {
                        if (item.Active)
                        {
                            <tr>
                                <td>
                                    @item.Naziv
                                </td>
                                <td>
                                    Polazak @item.DatumPocetka.ToString("dd. MM. yyyy")<br/>
                                    Povratak
                                    @item.DatumZavrsetka.ToString("dd. MM. yyyy")
                                </td>
                                <td>
                                    @item.Smestaj.Tip.ToString() @item.Smestaj.Naziv
                                </td>
                                <td>
                                    <img src="~/Slike/@item.Path" style="width:100px; height:100px" />
                                </td>
                                <td>
                                        @{
                                        if (item.Smestaj.SmestajneJedinice.Count > 0)
                                        {
                                            float i = item.Smestaj.SmestajneJedinice[0].Cena;
                                            foreach (var smestajnajed in item.Smestaj.SmestajneJedinice)
                                            {
                                                if (i > smestajnajed.Cena)
                                                {
                                                    i = smestajnajed.Cena;
                                                }
                                            }
                                            @((item.DatumZavrsetka - item.DatumPocetka).TotalDays * i)<text>&#8364;</text>
                                        }
                                        else
                                        {
                                            <p>0&#8364;</p>
                                        }
                                    }
                                </td>
                                <td>
                                    <form method="post" action="~/Manager/IzmeniAranzman">
                                        <input type="hidden" value="@br.ToString()" name="index" />
                                        <input type="submit" class="btn rounded" value="Izmeni" />
                                    </form>
                                </td>
                                <td>
                                    @{
                                        bool prov = false;
                                        foreach (var smestajnaJed in item.Smestaj.SmestajneJedinice)
                                        {
                                            if (smestajnaJed.Reserverd == true)
                                            {
                                                prov = true;
                                                break;
                                            }
                                        }

                                        <form method="post" action="~/Manager/DeleteAranzman">
                                            <input type="hidden" value="@br.ToString()" name="index" />
                                            @if (prov)
                                            {
                                                <input type="submit" value="Obrisi" class="btn rounded" style="color:black; background-color:red;" disabled />
                                            }
                                            else
                                            {
                                                <input type="submit" class="btn rounded" value="Obrisi" />
                                            }
                                        </form>

                                    }
                                </td>

                            </tr>
                        }
                        br++;
                    }
                </table>
            }
        </div>
    </div>

</body>
</html>
