﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IzmenaSmestaja</title>
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/pregled.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/smestajnejed.css" rel="stylesheet" type="text/css" />
    <script>
        function validateSmestaj(event) {
            var result = true;

            if (document.getElementById("naziv").value == "" || document.getElementById("naziv").value.trim() == "") {
                document.getElementById("naziv").style.borderColor = "red";
                document.getElementById("naziv").focus();
                result = false;
            } else {
                document.getElementById("naziv").style.borderColor = "green";
            }

            if (document.getElementById("brojZvezdica").value == "") {
                document.getElementById("brojZvezdica").style.borderColor = "red";
                if (result == true) {
                    document.getElementById("brojZvezdica").focus();
                }
                result = false;
            } else {
                document.getElementById("brojZvezdica").style.borderColor = "green";
            }

            return result;
        }

        window.onload = function() {
            document.getElementById("naziv").value = '@Model.Naziv';
            document.getElementById("tip").value = '@Model.Tip';
            document.getElementById("brojZvezdica").value = '@Model.BrojZvezdica';
            if ("@Model.Bazen.ToString()" == "True")
                document.forma.bazen[0].checked = true;
            else
                document.forma.bazen[1].checked = true;
            if ("@Model.Spa.ToString()" == "True")
                document.forma.spa[0].checked = true;
            else
                document.forma.spa[1].checked = true;
            if ("@Model.Prilagodjen.ToString()" == "True")
                document.forma.prilagodjen[0].checked = true;
            else
                document.forma.prilagodjen[1].checked = true;
            if ("@Model.Wifi.ToString()" == "True")
                document.forma.wifi[0].checked = true;
            else
                document.forma.wifi[1].checked = true;
        }
    </script>
    <style>
        select, input {
            padding: 5px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <div class="navbuttons">
            <form class="navbarform">
                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Buduci aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/PastAranzmani" formmethod="post">Raniji aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/SmestajneJed" formmethod="post">Smestajne jedinice</button>
                <button class="navbutton" type="submit" formaction="~/Home/Komentari" formmethod="post">Komentari</button>
                <div class="dropdown">
                    <button class="dropbtn" disabled>Moj profil</button>
                    <div class="dropdown-content">
                        <a href="~/Manager/Index">Moji aranzmani</a>
                        <a href="~/Manager/Smestaji">Smestaji</a>
                        <a href="~/Manager/Rezervacije">Rezervacije</a>
                        <a href="~/Manager/NoviAranzman">Kreiraj aranzman</a>
                        <a href="~/Manager/NoviSmestaj">Kreiraj smestaj</a>
                        <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                    </div>
                </div>
                <button class="navbutton" type="submit" formaction="~/Authentication/LogOut" formmethod="post">Logout</button>
            </form>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="center" style="margin-top:150px;">
        <div style="box-shadow: 0px 1px 5px rgba(0,0,0,0.3);">
            <div class="error-msg-smaller" id="error-msg" style="padding:10px;font-size:14px;">
                @if (ViewBag.Message != null)
                {
                    @ViewBag.Message
                }
            </div>

            <div>
                <form name="forma" action="~/Manager/ChangeSmestajInfo" method="post" onsubmit="return validateSmestaj(event)">
                    <table>
                        <tr>
                            <td>Tip smestaja:</td>
                            <td>
                                <select name="tip" id="tip">
                                    <option value="HOTEL">Hotel</option>
                                    <option value="MOTEL">Motel</option>
                                    <option value="VILA">Vila</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Naziv:</td>
                            <td>
                                <input type="text" name="naziv" id="naziv" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td>Broj zvezdica:</td>
                            <td>
                                <input type="number" value="" min="0" max="5" name="brojZvezdica" id="brojZvezdica" />
                            </td>
                        </tr>
                        <tr>
                            <td>Bazen:</td>
                            <td>
                                <input type="radio" value="true" name="bazen" id="bazen" /> Da
                                <input type="radio" value="false" name="bazen" id="bazen" checked />Ne
                            </td>
                        </tr>
                        <tr>
                            <td>Spa:</td>
                            <td>
                                <input type="radio" value="true" name="spa" id="spa" /> Da
                                <input type="radio" value="false" name="spa" id="spa" checked />Ne
                            </td>
                        </tr>
                        <tr>
                            <td>Prilagodjen za osobe sa invaliditetom:</td>
                            <td>
                                <input type="radio" value="true" name="prilagodjen" id="prilagodjen" /> Da
                                <input type="radio" value="false" name="prilagodjen" id="prilagodjen" checked />Ne
                            </td>
                        </tr>
                        <tr>
                            <td>WiFi:</td>
                            <td>
                                <input type="radio" value="true" name="wifi" id="wifi" /> Da
                                <input type="radio" value="false" name="wifi" id="wifi" checked />Ne
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="hidden" name="index" value="@ViewBag.Index" />
                                <center><input type="submit" class="btn rounded" value="Izmeni" /></center>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
