﻿@using PR62_2018_TuristickaAgencija.Models
@model PR62_2018_TuristickaAgencija.Models.Aranzman
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <title>NoviAranzman</title>
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">-->
    <link rel="stylesheet" href="~/Content/ol.css" type="text/css">
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/pregled.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/smestajnejed.css" rel="stylesheet" type="text/css" />
    <style>
        .map {
            height: 300px;
            width: 100%;
        }

        input, select {
            padding: 5px;
        }
    </style>
    <!--<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>-->
    <script src="~/Content/ol.js"></script>
    <script src="~/Content/noviAranzman.js"></script>
    <script>
        window.onload = function () {
            map.updateSize();
        }
    </script>

</head>
<body>

    <div class="navbar">
        <div class="navbuttons">
            <form class="navbarform">
                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Buduci aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/PastAranzmani" formmethod="post">Raniji aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/SmestajneJed" formmethod="post">Smestajne jedinice</button>
                <button class="navbutton" type="submit" formaction="~/Home/Komentari" formmethod="post">Komentari</button>
                <div class="dropdown">
                    <button class="dropbtn" disabled>Moj profil</button>
                    <div class="dropdown-content">
                        <a href="~/Manager/Index">Moji aranzmani</a>
                        <a href="~/Manager/Smestaji">Smestaji</a>
                        <a href="~/Manager/Rezervacije">Rezervacije</a>
                        <a href="~/Manager/NoviAranzman">Kreiraj aranzman</a>
                        <a href="~/Manager/NoviSmestaj">Kreiraj smestaj</a>
                        <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                    </div>
                </div>
                <button class="navbutton" type="submit" formaction="~/Authentication/LogOut" formmethod="post">Logout</button>
            </form>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="center">
        <div style="box-shadow: 0px 1px 5px rgba(0,0,0,0.3);width:auto;padding:10px;">
            <div class="error-msg-smaller" id="error-msg">
                @if (ViewBag.Message != null)
                {
                    @ViewBag.Message
                }
                <br />
            </div>
            <form action="~/Manager/AddAranzman" method="post" enctype="multipart/form-data" onsubmit="return validateAranzman(event)">
                <table>
                    <tr>
                        <td>Naziv:</td>
                        <td>
                            <input type="text" name="naziv" id="naziv" value="" />
                        </td>

                        <td>Ulica:</td>
                        <td>
                            <input type="text" name="ulica" id="ulica" value="" />
                        </td>
                    </tr>

                    <tr>
                        <td>Tip aranzmana:</td>
                        <td>
                            <select name="tip" id="tip" style="width:183px">
                                <option value="NocenjeSaDoruckom">Nocenje sa doruckom</option>
                                <option value="Polupansion">Polupansion</option>
                                <option value="PunPansion">Pun pansion</option>
                                <option value="AllInclusive">All inclusive</option>
                                <option value="NajamApartmana">Najam apartmana</option>
                            </select>
                        </td>

                        <td>Broj:</td>
                        <td>
                            <input type="number" name="broj" id="broj" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td>Tip prevoza:</td>
                        <td>
                            <select id="prevoz" name="prevoz" style="width:183px">
                                <option value="Autobus">Autobus</option>
                                <option value="Avion">Avion</option>
                                <option value="AutobusIAvion">Autobus + avion</option>
                                <option value="Individualan">Individualan</option>
                                <option value="ostalo">Ostalo</option>
                            </select>
                        </td>

                        <td>Grad/mesto:</td>
                        <td>
                            <input type="text" name="gradmesto" id="gradmesto" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td>Lokacija:</td>
                        <td>
                            <input type="text" name="lokacija" id="lokacija" value="" />
                        </td>

                        <td>Postanski broj:</td>
                        <td>
                            <input type="number" name="post" id="post" min="0" />
                        </td>
                    </tr>
                    <tr>
                        <td>Datum pocetka:</td>
                        <td>
                            <input type="date" name="datumPocetka" id="datumPocetka" value="" style="width:64%" />
                        </td>

                        <td>Vreme nalazenja:</td>
                        <td>
                            <input type="number" name="sat" id="sat" min="0" max="23" />:<input type="number" name="min" id="min" value="" min="0" max="59" />
                        </td>
                    </tr>
                    <tr>
                        <td>Datum zavrsetka:</td>
                        <td>
                            <input type="date" name="datumZavrsetka" id="datumZavrsetka" value="" style="width:64%" />
                        </td>

                        <td>Max putnika:</td>
                        <td>
                            <input type="number" name="maxPutnika" id="maxPutnika" min="0" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <p>Na mapi oznacite tacnu lokaciju mesta nalazenja:</p>
                            <input type="hidden" name="geoSirina" id="geoSirina" value="" />
                            <input type="hidden" name="geoDuzina" id="geoDuzina" value="" />

                            <div id="map" class="map"></div>
                            <script type="text/javascript">

                                var map = new ol.Map({
                                    target: 'map',
                                    layers: [
                                        new ol.layer.Tile({
                                            source: new ol.source.OSM()
                                        })
                                    ],
                                    view: new ol.View({
                                        center: ol.proj.fromLonLat([20.921423, 44.018229]),
                                        zoom: 6
                                    })
                                });
                                map.updateSize();

                                var marker = {};

                                map.on('click', function (evt) {
                                    var koordinate = ol.proj.transform(evt.coordinate, 'EPSG:3857', 'EPSG:4326');
                                    document.getElementById("geoSirina").value = koordinate[1];
                                    document.getElementById("geoDuzina").value = koordinate[0];

                                    if (marker != {})
                                        map.removeLayer(marker);

                                    marker = new ol.layer.Vector({
                                        source: new ol.source.Vector({
                                            features: [
                                                new ol.Feature({
                                                    geometry: new ol.geom.Point(ol.proj.fromLonLat([koordinate[0], koordinate[1]]))
                                                })
                                            ]
                                        })
                                    });
                                    map.addLayer(marker);
                                    map.updateSize();
                                });
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Opis aranzmana:<br />
                            <textarea placeholder="Ovde unesite opis aranzmana" name="opis" id="opis" rows="6" style="resize:none;width:95%"></textarea>
                        </td>
                        <td colspan="2">
                            Program putovanja:<br />
                            <textarea placeholder="Ovde unesite program putovanja" name="programPutovanja" id="programPutovanja" style="resize:none;width:100%" rows="6"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            Poster aranzmana:<br />
                        </td>
                        <td>
                            <input type="file" name="file" id="file" />
                        </td>
                        <td colspan="1">
                            Smestaj:<br />
                        </td>
                        <td>
                            <input list="smestaji" name="smestaj" id="smestaj" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4" align="center">
                            <br />
                            <input type="submit" class="btn rounded" style="align-content:center" value="Kreiraj aranzman" />
                        </td>
                    </tr>
                </table>
            </form>

            <datalist id="smestaji">
                @{ int br = 0;}
                @foreach (var item in ViewBag.Smestaji)
                {
                    <option value="@item.Naziv"></option>
                }
            </datalist>

            <script>
        var jScriptArray=[];
        @{
            for(int i = 0; i < ViewBag.Smestaji.Count; i++){
              <text>jScriptArray[@i] = "@ViewBag.Smestaji[i].Naziv";</text>
              i++;
            }
          }
            </script>

        </div>
    </div>
</body>
</html>
