﻿@using PR62_2018_TuristickaAgencija.Models
@model Rezervacija
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/homeIndex.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/smestajnejed.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/pregled.css" rel="stylesheet" type="text/css" />
    <title>Rezervacija</title>
    <style>
        tr, th, td{
            padding:5px;
        }
    </style>
</head>
<body>

    <div class="navbar">
        <div class="navbuttons">
            <form class="navbarform">
                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Buduci aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/PastAranzmani" formmethod="post">Raniji aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/SmestajneJed" formmethod="post">Smestajne jedinice</button>
                <button class="navbutton" type="submit" formaction="~/Home/Komentari" formmethod="post">Komentari</button>
                <div class="dropdown">
                    <button class="dropbtn" disabled>Moj profil</button>
                    <div class="dropdown-content">
                        <a href="~/Manager/Index">Moji aranzmani</a>
                        <a href="~/Manager/Smestaji">Smestaji</a>
                        <a href="~/Manager/Rezervacije">Rezervacije</a>
                        <a href="~/Manager/NoviAranzman">Kreiraj aranzman</a>
                        <a href="~/Manager/NoviSmestaj">Kreiraj smestaj</a>
                        <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                    </div>
                </div>
                <button class="navbutton" type="submit" formaction="~/Authentication/LogOut" formmethod="post">Logout</button>
            </form>
        </div>
    </div>
    <div>
        <br />
        <br />
        <br />
    </div>

    <div class="center" style="margin-top:150px;">
        <div style="box-shadow: 0px 1px 5px rgba(0,0,0,0.3);">
            <h2>Podaci o rezervaciji:</h2>
            <table>
                <tr>
                    <th>Korisnik koji je rezervisao aranzman:</th>
                </tr>
                <tr>
                    <td>Korisnicko ime: @Model.Turista.Username</td>
                </tr>
                <tr>
                    <td>Ime i prezime: @Model.Turista.FirstName @Model.Turista.LastName</td>
                </tr>
                <tr>
                    <td>Email za kontakt: @Model.Turista.Email</td>
                </tr>
                <tr>
                    <th>Aranzman:</th>
                </tr>
                <tr>

                    @if (Model.Aranzman.Tip.ToString().Equals("NocenjeSaDoruckom"))
                    {
                        <td>Nocenje sa doruckom u @Model.Aranzman.Smestaj.Tip @Model.Aranzman.Smestaj.Naziv</td>
                    }
                    @if (Model.Aranzman.Tip.ToString().Equals("PunPansion"))
                    {
                        <td>Pun pansion u @Model.Aranzman.Smestaj.Tip @Model.Aranzman.Smestaj.Naziv</td>
                    }
                    @if (Model.Aranzman.Tip.ToString().Equals("Polupansion"))
                    {
                        <td>Polupansion u @Model.Aranzman.Smestaj.Tip @Model.Aranzman.Smestaj.Naziv</td>
                    }
                    @if (Model.Aranzman.Tip.ToString().Equals("AllInclusive"))
                    {
                        <td>All inclusive smestaj u @Model.Aranzman.Smestaj.Tip @Model.Aranzman.Smestaj.Naziv</td>
                    }
                    @if (Model.Aranzman.Tip.ToString().Equals("NajamApartmana"))
                    {
                        <td>Najam apartmana u @Model.Aranzman.Smestaj.Tip @Model.Aranzman.Smestaj.Naziv</td>
                    }

                </tr>
                <tr>
                    @if (Model.Aranzman.Prevoz.ToString().Equals("Autobus"))
                    {
                        <td>Prevoz autobusom do @Model.Aranzman.Lokacija</td>
                    }
                    @if (Model.Aranzman.Prevoz.ToString().Equals("Avion"))
                    {
                        <td>Prevoz avionom do @Model.Aranzman.Lokacija</td>
                    }
                    @if (Model.Aranzman.Prevoz.ToString().Equals("AutobusIAvion"))
                    {
                        <td>Prevoz autobusom i avionom do @Model.Aranzman.Lokacija</td>
                    }
                    @if (Model.Aranzman.Prevoz.ToString().Equals("Individualan"))
                    {
                        <td>Individualan prevoz do @Model.Aranzman.Lokacija</td>
                    }
                    @if (Model.Aranzman.Prevoz.ToString().Equals("ostalo"))
                    {
                        <td>Prevoz do @Model.Aranzman.Lokacija</td>
                    }
                </tr>
                <tr>
                    <td>Vreme nalazenja je @Model.Aranzman.VremeNalazenja na lokaciji: @Model.Aranzman.Mesto.Adresa</td>
                </tr>
                <tr>
                    <td>Trajanje od @Model.Aranzman.DatumPocetka.ToString("dd.MM.yyyy") do @Model.Aranzman.DatumZavrsetka.ToString("dd.MM.yyyy")</td>
                </tr>
                <tr>
                    <th>Podaci o rezervisanoj smestajnoj jedinici u smestaju:</th>
                </tr>
                <tr>
                    <td>Maksimalan broj gostiju koje prima smestajna jedinica je @Model.Smestaj.MaxGostiju.</td>
                </tr>
                <tr>
                    @if (Model.Smestaj.PetFriendly)
                    {
                        <td>Smestajna jedinica je pet friendly.</td>
                    }
                    else
                    {
                        <td>Smestajna jedinica nije pet friendly.</td>
                    }
                </tr>
                <tr>
                    <td class="smestaj">Cena po danu smestaja: @Model.Smestaj.Cena</td>
                </tr>

                <tr>
                    <td style="float:right"><b>Ukupna cena:</b> @((Model.Aranzman.DatumZavrsetka - Model.Aranzman.DatumPocetka).TotalDays * Model.Smestaj.Cena)</td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>
