﻿@using PR62_2018_TuristickaAgencija.Models
@model IEnumerable<Rezervacija>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/homeIndex.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/smestajnejed.css" rel="stylesheet" type="text/css" />
    <title>Rezervacije</title>
    <script>

        function checkSearch(event) {
            if (event.submitter.value != "Pretraga")
                return true;

            var min = 0;
            var max = 0;
            var result = true;

            if (document.getElementById("pocOd") != "" && document.getElementById("pocDo") != "") {
                min = document.getElementById("pocOd").value.split("-");
                max = document.getElementById("pocDo").value.split("-");
                if (parseInt(min[0]) > parseInt(max[0]) || parseInt(min[1]) > parseInt(max[1])) {
                    document.getElementById("error-msg").innerHTML = "Datum od kog se uporedjuje ne moze biti veci od onog do kog se uporedjuje";
                    document.getElementById("pocOd").style.borderColor = "red";
                    document.getElementById("pocDo").style.borderColor = "red";
                    result = false;
                }

                if (parseInt(min[1]) == parseInt(max[1]) && parseInt(min[2]) > parseInt(max[2])) {
                    if (result == true)
                        document.getElementById("error-msg").innerHTML = "Datum od kog se uporedjuje ne moze biti veci od onog do kog se uporedjuje";
                    document.getElementById("pocOd").style.borderColor = "red";
                    document.getElementById("pocDo").style.borderColor = "red";
                    result = false;
                }
            }

            if (document.getElementById("brOd") != "" && document.getElementById("brDo") != "") {
                if (parseInt(document.getElementById("brOd").value) > parseInt(document.getElementById("brDo").value)) {
                    if (result == true)
                        document.getElementById("error-msg").innerHTML = "Minimalni broj osoba ne moze biti veci od maksimalnog";
                    document.getElementById("brOd").style.borderColor = "red";
                    document.getElementById("brDo").style.borderColor = "red";
                    result = false;
                }
            }

            if (document.getElementById("cenaOd") != "" && document.getElementById("cenaDo") != "") {
                if (parseInt(document.getElementById("cenaOd").value) > parseInt(document.getElementById("cenaDo").value)) {
                    if (result == true)
                        document.getElementById("error-msg").innerHTML = "Minimalna unesena cena ne moze biti veca od maksimalne";
                    document.getElementById("cenaOd").style.borderColor = "red";
                    document.getElementById("cenaDo").style.borderColor = "red";
                    result = false;
                }
            }

            if (document.getElementById("naziv").value == "Naziv aranzmana") {
                document.getElementById("naziv").value = "";
            }

            return result;
        }

        function poljeOnFocus() {
            if (document.getElementById("naziv").value == "Naziv aranzmana") {
                document.getElementById("naziv").value = "";
            }
        }

        function poljeLostFocus() {
            if (document.getElementById("naziv").value == "" || document.getElementById("naziv").value.trim() == "") {
                document.getElementById("naziv").value = "Naziv aranzmana";
            }
        }

        function openNav() {
            if (document.getElementById("mySidebar").style.width == "200px") {
                closeNav();
                return;
            }
            document.getElementById("mySidebar").style.width = "200px";
            document.getElementById("main").style.marginLeft = "200px";
            document.getElementById("nav").style.marginLeft = "200px";
            document.getElementById("navBtn").innerHTML = " &#129168; Sakrij filtere";

        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("nav").style.marginLeft = "0";
            document.getElementById("navBtn").innerHTML = " &#129170; Prikazi filtere";
        }
    </script>
</head>
<body>

    <div class="navbar" id="nav">
        <div class="navbuttons">
            <form class="navbarform">
                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Buduci aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/PastAranzmani" formmethod="post">Raniji aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/SmestajneJed" formmethod="post">Smestajne jedinice</button>
                <button class="navbutton" type="submit" formaction="~/Home/Komentari" formmethod="post">Komentari</button>
                <div class="dropdown">
                    <button class="dropbtn" disabled>Moj profil</button>
                    <div class="dropdown-content">
                        <a href="~/Manager/Index">Moji aranzmani</a>
                        <a href="~/Manager/Smestaji">Smestaji</a>
                        <a href="~/Manager/Rezervacije">Rezervacije</a>
                        <a href="~/Manager/NoviAranzman">Kreiraj aranzman</a>
                        <a href="~/Manager/NoviSmestaj">Kreiraj smestaj</a>
                        <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                    </div>
                </div>
                <button class="navbutton" type="submit" formaction="~/Authentication/LogOut" formmethod="post">Logout</button>
            </form>
        </div>
    </div>

    <div>
        <br />
        <br />
        <br />
    </div>

    <div id="main">
        <h3>Rezervacije Vasih aranzmana:</h3>
        <button type="button" id="navBtn" class="openbtn" onclick="openNav()"> &#129170; Prikazi filtere</button>
        <div id="mySidebar" class="sidebar">
            <form name="search" action="~/Manager/SearchRezervacije" method="post" onsubmit="return checkSearch(event)">
                <table class="search">
                    <tr>
                        <th>Pretraga rezervacija:</th>
                    </tr>
                    <tr>
                        <td>
                            <div id="errmsg" class="error-msg-smaller">
                                @ViewBag.ErrMsg
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" style="width:90%" name="naziv" id="naziv" value="Naziv aranzmana" onfocus="poljeOnFocus()" onblur="poljeLostFocus()" /></td>
                    </tr>
                    <tr>
                        <td>
                            <select name="tip" style="width:95%">
                                <option value="">Tip smestaja</option>
                                <option value="HOTEL">Hotel</option>
                                <option value="MOTEL">Motel</option>
                                <option value="VILA">Vila</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Pocetak:</td>
                    </tr>
                    <tr>
                        <td>Od:<input type="date" name="pocOd" id="pocOd" /></td>
                    </tr>
                    <tr>
                        <td>Do:<input type="date" name="pocDo" id="pocDo" /></td>
                    </tr>
                    <tr>
                        <td>Broj osoba:</td>
                    </tr>
                    <tr>
                        <td>Od:<input type="number" name="brOd" id="brOd" min="0" step="1" style="width:80%" /></td>
                    </tr>
                    <tr>
                        <td>Do:<input type="number" name="brDo" id="brDo" min="0" step="1" style="width:80%" /></td>
                    </tr>
                    <tr>
                        <td>Cena:</td>
                    </tr>
                    <tr>
                        <td>Od:<input type="number" name="cenaOd" id="cenaOd" min="0" step="1" style="width:80%" /></td>
                    </tr>
                    <tr>
                        <td>Do:<input type="number" name="cenaDo" id="cenaDo" min="0" step="1" style="width:80%" /></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" style="float: right;" class="sidebarSubmit" value="Pretraga" />
                            <button formaction="~/Manager/ClearRezervacije" style="float: left;" class="sidebarSubmit" formmethod="post">Ponisti filtere</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        
        <div class="sort">
            <form action="~/Manager/SortRezervacije" method="post" onsubmit="return checkSort(event)">
                <table class="sortHomeIndex">
                    <tr>
                        <td>
                            Sortiranje:&nbsp;
                        </td>
                        <td>
                            <select class="sortHomeIndex" name="select">
                                <option value="hron">Hronoloski</option>
                                <option value="name">Imenu aranzmana</option>
                                <option value="date">Datumu polaska</option>
                                <option value="price">Ceni aranzmana</option>
                            </select>
                        </td>
                        <td>
                            <select class="sortHomeIndex" name="type">
                                <option value="a">Rastuce</option>
                                <option value="d">Opadajuce</option>
                            </select>
                        </td>
                        <td>
                            <input type="submit" class="btn rounded" value="Sortiraj" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div>
            @if (Model.Count() == 0)
            {
                <p>Nema podudaranja</p>
            }
            else
            {

                <table class="tablediv tableAranzmani" style="margin-top:20px;" cellpadding="0" cellspacing="0">
                    <tr>
                        <th class="smestaj">Aranzman</th>
                        <th class="smestaj">Korisnik</th>
                        <th class="smestaj">Smestajna jedinica</th>
                        <th class="smestaj">Status</th>
                        <th class="smestaj">&nbsp;</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Aranzman.Naziv</td>
                            <td>@item.Turista.Username</td>
                            @if (item.Smestaj.MaxGostiju == 1 || item.Smestaj.MaxGostiju >= 5)
                            {
                                <td>@item.Smestaj.MaxGostiju osoba</td>
                            }
                            else
                            {
                                <td>@item.Smestaj.MaxGostiju osobe</td>
                            }
                            @if (item.Status == Status.AKTIVNA)
                            {
                                <td>Aktivna</td>
                            }
                            @if (item.Status == Status.OTKAZANA)
                            {
                                <td>Otkazana</td>
                            }
                            @if (item.Status == Status.ZAVRSENA)
                            {
                                <td>Zavrsena</td>
                            }
                            <td>
                                <form action="~/Manager/Rezervacija" method="post">
                                    <input type="hidden" value="@item.Id" name="idRezervacije" />
                                    <input type="submit" class="btn rounded" style="padding:5px;" value="Detaljnije" />
                                </form>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
    </body>
</html>
