﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/pregled.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/smestajnejed.css" rel="stylesheet" type="text/css" />
    <title>SmestajnaJed</title>
    <script>
        function check(event) {

            if (event.submitter.value == "Odustani")
                return true;

            var result = true;

            if (document.getElementById("maxGostiju").value == "") {
                document.getElementById("maxGostiju").style.borderColor = "red";
                document.getElementById("maxGostiju").focus();
                result = false;
            } else {
                document.getElementById("maxGostiju").style.borderColor = "green";
            }

            if (document.getElementById("cena").value == "") {
                document.getElementById("cena").style.borderColor = "red";
                if (result == true) {
                    document.getElementById("cena").focus();
                }
                result = false;
            } else {
                document.getElementById("cena").style.borderColor = "green";
            }

            return result;
        }

        window.onload = function () {
            if ('@ViewBag.Kontrola' == "izmena") {
                if ("@ViewBag.Message" == "Ne mozete izmeniti broj kreveta jer postoji rezervacija ove jedinice")
                    document.getElementById("maxGostiju").setAttribute("readonly", true);
                document.getElementById("maxGostiju").value = '@Model.MaxGostiju';
                document.getElementById("cena").value = '@Model.Cena';
                if ("@Model.PetFriendly.ToString()" == "True")
                    document.forma.petFriendly[0].checked = true;
                else
                    document.forma.petFriendly[1].checked = true;
            }
        }
    </script>
    <style>
        select, input {
            padding: 5px;
        }
        
        .table td {
            align-content:center;
            text-align:center;
        }
    </style>
</head>
<body>
    <div class="center" style="margin-top:150px;">
        @if (ViewBag.Kontrola == "dodavanje")
        {
            <div style="box-shadow: 0px 1px 5px rgba(0,0,0,0.3);">
                <h2>Dodavanje nove smestajne jedinice u @ViewBag.Smestaj.Tip @ViewBag.Smestaj.Naziv:</h2>
                <div class="center">
                    <div class="error-msg-smaller" id="error-msg" style="padding:10px;font-size:14px;">
                        @ViewBag.Message
                    </div>
                    <form action="~/Manager/AddSmestajnaJed" method="post" onsubmit="return check(event)">
                        <table>
                            <tr>
                                <td class="table">Maksimalan broj gostiju:</td>
                                <td>
                                    <input type="number" value="" name="maxGostiju" id="maxGostiju" min="0" />
                                </td>
                            </tr>
                            <tr>
                                <td>Pet friendly:</td>
                                <td>
                                    <input type="radio" value="true" name="petFriendly" id="petFriendly" /> Da
                                    <input type="radio" value="false" name="petFriendly" id="petFriendly" checked />Ne
                                </td>
                            </tr>
                            <tr>
                                <td>Cena:</td>
                                <td>
                                    <input type="number" value="" name="cena" id="cena" step="0.01" />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:20px;">
                                    <input type="hidden" value="@ViewBag.Index" name="indexSmestaj" />
                                    <center><input type="submit" class="btn rounded" value="Dodaj" /></center>
                                </td>
                                <td style="padding-top:20px;">
                                    <center><button type="submit" formaction="~/Home/SmestajneJed" class="btn rounded" value="Odustani">Odustani</button></center>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        }
        else
        {
            <div style="box-shadow: 0px 1px 5px rgba(0,0,0,0.3);">
                <h2>Izmena smestajne jedinice u @ViewBag.Smestaj.Tip @ViewBag.Smestaj.Naziv:</h2>
                <div class="center">
                    <div class="error-msg-smaller" id="error-msg" style="padding:10px;font-size:14px;">
                        @ViewBag.Message
                    </div>
                    <form name="forma" action="~/Manager/ChangeSmestajnaJed" method="post" onsubmit="return check(event)">
                        <table>
                            <tr>
                                <td>Maksimalan broj gostiju:</td>
                                <td>
                                    <input type="number" value="" name="maxGostiju" id="maxGostiju" min="0" />
                                </td>
                            </tr>
                            <tr>
                                <td>Pet friendly:</td>
                                <td>
                                    <input type="radio" value="true" name="petFriendly" id="petFriendly" /> Da
                                    <input type="radio" value="false" name="petFriendly" id="petFriendly" checked />Ne
                                </td>
                            </tr>
                            <tr>
                                <td>Cena:</td>
                                <td>
                                    <input type="number" value="" name="cena" id="cena" step="0.01" />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:20px;">
                                    <input type="hidden" value="@ViewBag.Index" name="indexSmestaj" />
                                    <input type="hidden" value="@ViewBag.IndexJed" name="indexJed" />
                                    <center><input type="submit" class="btn rounded" value="Izmeni" /></center>
                                </td>
                                <td style="padding-top:20px;">
                                    <center><button type="submit" class="btn rounded" formaction="~/Home/SmestajneJed" value="Odustani">Odustani</button></center>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
        </div>
        }

    </div>
</body>
</html>
