﻿@using PR62_2018_TuristickaAgencija.Models
@model IEnumerable<Smestaj>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/smestajnejed.css" rel="stylesheet" type="text/css" />
    <title>Smestaji</title>
    <script>
        function check(event) {
            if (event.submitter.value != "Pretraga")
                return true;

            if (document.getElementById("naziv").value == "Naziv smestaja") {
                document.getElementById("naziv").value = "";
            }
            return true;
        }

        function poljeOnFocus() {
            if (document.getElementById("naziv").value == "Naziv smestaja") {
                document.getElementById("naziv").value = "";
            }
        }

        function poljeLostFocus() {
            if (document.getElementById("naziv").value == "" || document.getElementById("naziv").value.trim() == "") {
                document.getElementById("naziv").value = "Naziv smestaja";
            }
        }

        function openNav() {
            if (document.getElementById("mySidebar").style.width == "200px") {
                closeNav();
                return;
            }
            document.getElementById("mySidebar").style.width = "200px";
            document.getElementById("main").style.marginLeft = "200px";
            document.getElementById("nav").style.marginLeft = "200px";
            document.getElementById("navBtn").innerHTML = " &#129168; Sakrij filtere";

        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("nav").style.marginLeft = "0";
            document.getElementById("navBtn").innerHTML = " &#129170; Prikazi filtere";
        }
    </script>
    <style>
        tr td {
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
<body>

    <div id="nav" class="navbar">
        <div class="navbuttons">
            <form class="navbarform">
                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Buduci aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/PastAranzmani" formmethod="post">Raniji aranzmani</button>
                <button class="navbutton" type="submit" formaction="~/Home/SmestajneJed" formmethod="post">Smestajne jedinice</button>
                <button class="navbutton" type="submit" formaction="~/Home/Komentari" formmethod="post">Komentari</button>
                <div class="dropdown">
                    <button class="dropbtn" disabled>Moj profil</button>
                    <div class="dropdown-content">
                        <a href="~/Manager/Index">Moji aranzmani</a>
                        <a href="~/Manager/Smestaji">Smestaji</a>
                        <a href="~/Manager/Rezervacije">Rezervacije</a>
                        <a href="~/Manager/NoviAranzman">Kreiraj aranzman</a>
                        <a href="~/Manager/NoviSmestaj">Kreiraj smestaj</a>
                        <a href="~/Authentication/ProfileChange">Izmeni profil</a>
                    </div>
                </div>
                <button class="navbutton" type="submit" formaction="~/Authentication/LogOut" formmethod="post">Logout</button>
            </form>
        </div>
    </div>
    <br />
    <br />

    <div id="main">
        <h2>Smestaji:</h2>
        <button type="button" id="navBtn" class="openbtn" onclick="openNav()"> &#129170; Prikazi filtere</button>
        <div id="mySidebar" class="sidebar">
            <form action="~/Manager/SearchSmestaji" method="post" onsubmit="return check(event)">
                <table class="search">
                    <tr>
                        <td>
                            <cetnter>Pretraga smestaja:</cetnter>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="tip" style="width:100%;">
                                <option value="">Tip smestaja</option>
                                <option value="HOTEL">Hotel</option>
                                <option value="MOTEL">Motel</option>
                                <option value="VILA">Vila</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" value="Naziv smestaja" name="naziv" id="naziv" onblur="poljeLostFocus()" onfocus="poljeOnFocus()" style="width:96%" />
                        </td>
                    </tr>
                    <tr>
                        <td>Postojanje bazena:</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" value="Da" name="bazen" id="bazen" /> Da
                            <input type="radio" value="Na" name="bazen" id="bazen" />Ne
                        </td>
                    </tr>
                    <tr>
                        <td>Postojanje spa:</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" value="Da" name="spa" id="spa" /> Da
                            <input type="radio" value="Na" name="spa" id="spa" />Ne
                        </td>
                    </tr>
                    <tr>
                        <td>Prilagodjen osobama sa invaliditetom:</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" value="Da" name="prilagodjen" id="prilagodjen" /> Da
                            <input type="radio" value="Na" name="prilagodjen" id="prilagodjen" />Ne
                        </td>
                    </tr>
                    <tr>
                        <td>Postojanji wifi:</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" value="Da" name="wifi" id="wifi" /> Da
                            <input type="radio" value="Na" name="wifi" id="wifi" />Ne
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button formaction="~/Manager/ClearSmestaji" class="sidebarSubmit" formmethod="post" name="clear">Ponisti filtere</button>
                            <input type="submit" style="float: right;" class="sidebarSubmit" value="Pretraga" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="sort">
            <form action="~/Manager/SortSmestaji" method="post">
                <table>
                    <tr>
                        <td>
                            Sortiranje:&nbsp;
                        </td>
                        <td>
                            <select class="sort" name="sort">
                                <option value="naziv">Naziv</option>
                                <option value="brJed">Ukupan broj smestajnih jedinica</option>
                                <option value="brSlobodnihJed">Broj slobodnih smeštajnih jedinica</option>
                            </select>
                        </td>
                        <td>
                            <select class="sort" name="type">
                                <option value="a">Rastuce</option>
                                <option value="d">Opadajuce</option>
                            </select>
                        </td>
                        <td>
                            <input type="submit" class="btn rounded" value="Sortiraj" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <br />
        <br />


        @if (Model.Count() == 0)
        {
            <p>Nema odgovarajucih smestaja.</p>
        }
        else
        {
            <div>
                <table class="tablediv tableAranzmani" cellpadding="0" cellspacing="0" style="padding:5px;">
                    <tr>
                        <th class="smestaj">Naziv</th>
                        <th class="smestaj">Tip</th>
                        <th class="smestaj">Broj zvezdica</th>
                        <th class="smestaj">Bazen</th>
                        <th class="smestaj">Spa</th>
                        <th class="smestaj">Prilagodjen za osobe<br />sa invaliditetom</th>
                        <th class="smestaj">WiFi</th>
                        <th class="smestaj">Broj smestajnih<br /> jedinica</th>
                        <th class="smestaj">Broj zauzetih<br /> jedinica</th>
                        <th class="smestaj">&nbsp;</th>
                        <th class="smestaj">&nbsp;</th>
                    </tr>
                    @{
                        int br = 0;
                        List<int> removable = new List<int>();
                        if (ViewBag.Brisanje != "")
                        {
                            List<string> temp = new List<string>(ViewBag.Brisanje.Split(','));
                            foreach (var item in temp)
                            {
                                if (item == "")
                                {
                                    continue;
                                }
                                removable.Add(Convert.ToInt32(item));
                            }
                        }

                    }
                    @foreach (var item in Model)
                    {
                        if (item.Active)
                        {
                            <tr>
                                <td>@item.Naziv</td>
                                <td>@item.Tip</td>
                                <td>@item.BrojZvezdica</td>
                                @if (item.Bazen)
                                {
                                    <td>Da</td>
                                }
                                else
                                {
                                    <td>Ne</td>
                                }
                                @if (item.Spa)
                                {
                                    <td>Da</td>
                                }
                                else
                                {
                                    <td>Ne</td>
                                }
                                @if (item.Prilagodjen)
                                {
                                    <td>Da</td>
                                }
                                else
                                {
                                    <td>Ne</td>
                                }
                                @if (item.Wifi)
                                {
                                    <td>Da</td>
                                }
                                else
                                {
                                    <td>Ne</td>
                                }
                                <td>@item.SmestajneJedinice.Count</td>
                                <td>@ViewBag.Zauzeti[item]</td>
                                <td>
                                    <form action="~/Manager/IzmeniSmestaj" method="post">
                                        <input type="hidden" value="@br.ToString()" name="index" />
                                        <input type="submit" class="btn rounded" style="padding:5px;" value="Izmeni" />
                                    </form>
                                </td>
                                @if (removable.Contains(br))
                                {
                                    <td>
                                        <form action="~/Manager/RemoveSmestaj" method="post">
                                            <input type="submit" class="btn rounded" value="Obrisi" style="padding:5px;background-color:red;color:black;" disabled />
                                        </form>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <form action="~/Manager/RemoveSmestaj" method="post">
                                            <input type="hidden" value="@br.ToString()" name="index" />
                                            <input type="submit" class="btn rounded" style="padding:5px;" value="Obrisi" />
                                        </form>
                                    </td>
                                }
                            </tr>
                        }
                        br++;
                    }
                </table>
            </div>
        }

    </div>
</body>
</html>
